// @font-face {
//     font-family: 'Montserrat';
//     src: url('fonts/Montserrat/Montserrat-Medium.ttf') format('ttf');
//     font-display: swap;
//     font-weight: 500;
//     font-style: bold;
// }
// @font-face {
//     font-family: 'Montserrat';
//     src: url('fonts/Montserrat/Montserrat-Bold.ttf') format('ttf');
//     font-display: swap;
//     font-weight: 600;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Montserrat';
//     src: url('fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
//     font-display: swap;
//     font-weight: 400;
//    // font-style: regular;
// }
// @font-face {
//     font-family: 'Montserrat';
//     font-weight: normal;
//     src        : url(../fonts/Montserrat/Montserrat-Medium.ttf);
// }
// @font-face {
//     font-family: 'Montserrat';
//     font-weight: normal;
//     src        : url(../fonts/Montserrat/Montserrat-Bold.ttf);
// }
// @font-face {
//     font-family: 'Montserrat';
//     font-weight: normal;
//     src        : url(../fonts/Montserrat/Montserrat-Regular.ttf);
// }