@import "./normalize.scss";
@import "./colors.scss";
@import "./media.scss";
@import "./fonts.scss";
@import "./libs/libs.scss";
@import "./_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  outline: none !important;
}

html {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  font-size: 16px;

  @media (max-width: 1023px) {
    font-size: 14px;
    line-height: 20px;
  }
}

body {
  font-family: Montserrat, Arial, sans-serif;
  color: $black;
  font-weight: normal;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.5rem;
  background: #FFFFFF;
  word-wrap: break-word;

  &.openPopup {
    position: fixed;
    width: 100%;
  }
}

.b-page {
  min-height: 100vh;
  position: relative;
  padding-bottom: 517px;

  @media (max-width: 1024px) {
    // padding-bottom: 205px;
    padding-bottom: 475px;
  }

  @media (max-width: 882px) {
    padding-bottom: 442px;
  }

  @media (max-width: 768px) {
    padding-bottom: 775px;
    // padding-bottom: 462px;
  }
}

.b-container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 0 20px 0;
  box-sizing: border-box;

  &--events {
    margin-top: 55px;

    @media (max-width:600px) {
      margin-top: 30px;
    }
  }

  @media (max-width:1024px) {
    padding: 0 15px 15px;
  }

  @media (max-width:500px) {
    padding: 0 15px 10px;
  }

  &--contact {
    padding-bottom: 0;
  }
}

img {
  vertical-align: bottom;
}

.bgi {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  display: inline;
  color: inherit;
  text-decoration: none;
  transition: linear 0.2s;
}

.clearfix::after,
.clearfix::before {
  content: '';
  display: table;
  clear: both;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

input::-ms-clear {
  display: none;
}

.hidden {
  display: none;
}

.b-svg {
  width: auto;
  height: auto;
}

.b-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  color: #3B3B3B;
}

.mCSB_horizontal.mCSB_inside>.mCSB_container {
  margin-bottom: 0 !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: transparent !important;
}

#mCSB_2_scrollbar_horizontal {
  height: 0px;
}

header .navbar-nav {
  max-width: 100%;
  min-width: 1200px;
  width: 100%;
}

header .navbar-collapse {
  overflow-x: auto;
}

.burger {
  display: none;
  width: 25px;

  @media (max-width:1024px) {
    display: block;
  }

  @media (max-width:620px) {
    width: 18px;
  }

  span {
    position: relative;
    display: block;
    height: 3px;
    width: 100%;
    background-color: $birus;
    transition: .3s;

    @media (max-width:1235px) {
      height: 2px;
    }

    &:nth-child(2) {
      position: relative;
      left: 0;
      right: 0;
      margin: auto;
    }

    &:not(:last-child) {
      margin-bottom: 5px;

      @media (max-width:1235px) {
        margin-bottom: 4px;
      }
    }
  }

  &--laptop {
    display: none;

    @media(max-width: 1024px) {
      display: block;
      width: 22px;
    }
  }

  &--active {
    span {
      background-color: black;

      &:nth-child(1) {
        transform: rotate(45deg) !important;
        top: 7px;
        transition: .4s;

        @media(max-width: 1024px) {
          top: 6px;
        }
      }

      &:nth-child(3) {
        transform: rotate(-45deg) !important;
        top: -7px;
        transition: .4s;

        @media(max-width: 1024px) {
          top: -6px;
        }
      }

      &:nth-child(2) {
        width: 0;
      }

    }
  }
}

.mf-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  //box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
  transition: .2s ease-out;
  min-height: auto !important;
}

.table-contacts {
  margin-bottom: auto;
}

.txttohtmllink {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    background-color: white;
    height: 1px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transition: ease .3s;
    opacity: 0;
  }

  &:hover {
    text-decoration: none;
    color: white;

    &:before {
      opacity: 1;
    }
  }
}

.account-btn {
  &:hover {
    text-decoration: none;
    color: #3b3b3b;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.b-collapse {
  display: none;
  opacity: 0;
  animation: fadeIn 1s;
}

.b-collapse--active {
  display: block;
  opacity: 1;
  animation: fadeIn 1s;
  line-height: 160%;
}

.b-fadeIn {
  opacity: 1;
  animation: fadeIn 1s;
}

@import './components/b-header.scss';
@import './components/b-header-slider.scss';
@import './components/b-breadcrumb.scss';
@import './components/b-events.scss';
@import './components/b-news.scss';
@import './components/b-slider-footer.scss';
@import './components/b-footer.scss';

@import './components/b-selectedNews.scss';
@import './components/b-department.scss';
@import './components/b-button.scss';
@import './components/b-adminStructure.scss';
@import './components/b-manual.scss';
@import './components/b-contact.scss';
@import './components/b-reception.scss';
@import './components/b-error.scss';
@import './components/b-login.scss';
@import './components/b-burger.scss';
@import './components/b-accordion.scss';
@import './components/b-button.scss';
@import './components/b-survey.scss';
@import './components/surveyPopup/b-surveyPopupI.scss';
@import './components/surveyPopup/b-surveyPopupII.scss';
@import './components/surveyPopup/b-surveyPopupIII.scss';
@import './components/surveyPopup/b-surveyResultI.scss';
@import './components/surveyPopup/b-surveyResultII.scss';