section.events
	.b-container.b-container--events
		.b-events
			.b-events__title
				h1 Предстоящие мероприятия

			.b-events-content
				a(href="javascript:void(0);").b-events-left
					img(src="../img/events.png", alt="")
					.b-events-left__caption
						span 
							<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0)">
							<path d="M13.2812 15H1.71879C0.770645 15 0 14.2293 0 13.2812V2.96867C0 2.02053 0.770645 1.25 1.71879 1.25H13.2812C14.2294 1.25 15 2.02053 15 2.96867V13.2812C15 14.2293 14.2294 15 13.2812 15ZM1.71879 2.1875C1.28815 2.1875 0.9375 2.53803 0.9375 2.96867V13.2812C0.9375 13.7118 1.28815 14.0625 1.71879 14.0625H13.2812C13.7119 14.0625 14.0625 13.7118 14.0625 13.2812V2.96867C14.0625 2.53803 13.7119 2.1875 13.2812 2.1875H1.71879Z" fill="white"/>
							<path d="M14.5312 5.9375H0.46875C0.209999 5.9375 0 5.7275 0 5.46875C0 5.21 0.209999 5 0.46875 5H14.5312C14.79 5 15 5.21 15 5.46875C15 5.7275 14.79 5.9375 14.5312 5.9375Z" fill="white"/>
							<path d="M3.59375 3.75C3.335 3.75 3.125 3.54 3.125 3.28125V0.46875C3.125 0.209999 3.335 0 3.59375 0C3.8525 0 4.0625 0.209999 4.0625 0.46875V3.28125C4.0625 3.54 3.8525 3.75 3.59375 3.75Z" fill="white"/>
							<path d="M11.4062 3.75C11.1475 3.75 10.9375 3.54 10.9375 3.28125V0.46875C10.9375 0.209999 11.1475 0 11.4062 0C11.665 0 11.875 0.209999 11.875 0.46875V3.28125C11.875 3.54 11.665 3.75 11.4062 3.75Z" fill="white"/>
							</g>
							<defs>
							<clipPath id="clip0">
							<rect width="15" height="15" fill="white"/>
							</clipPath>
							</defs>
							</svg>

							p 23.09.20

						p.mf-text Исполнительный директор ФФБ РАНХиГС Лиана Кузнецова: о социально-ответственных лидерах в стремительно меняющемся мире

				.b-events-right
					.b-events-right-inner
						.b-events-right__item
							div <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M13.2812 15H1.71879C0.770645 15 0 14.2293 0 13.2812V2.96867C0 2.02053 0.770645 1.25 1.71879 1.25H13.2812C14.2294 1.25 15 2.02053 15 2.96867V13.2812C15 14.2293 14.2294 15 13.2812 15ZM1.71879 2.1875C1.28815 2.1875 0.9375 2.53803 0.9375 2.96867V13.2812C0.9375 13.7118 1.28815 14.0625 1.71879 14.0625H13.2812C13.7119 14.0625 14.0625 13.7118 14.0625 13.2812V2.96867C14.0625 2.53803 13.7119 2.1875 13.2812 2.1875H1.71879Z" fill="#008C7D"/>
									<path d="M14.5312 5.9375H0.46875C0.209999 5.9375 0 5.7275 0 5.46875C0 5.21 0.209999 5 0.46875 5H14.5312C14.79 5 15 5.21 15 5.46875C15 5.7275 14.79 5.9375 14.5312 5.9375Z" fill="#008C7D"/>
									<path d="M3.59375 3.75C3.335 3.75 3.125 3.54 3.125 3.28125V0.46875C3.125 0.209999 3.335 0 3.59375 0C3.8525 0 4.0625 0.209999 4.0625 0.46875V3.28125C4.0625 3.54 3.8525 3.75 3.59375 3.75Z" fill="#008C7D"/>
									<path d="M11.4062 3.75C11.1475 3.75 10.9375 3.54 10.9375 3.28125V0.46875C10.9375 0.209999 11.1475 0 11.4062 0C11.665 0 11.875 0.209999 11.875 0.46875V3.28125C11.875 3.54 11.665 3.75 11.4062 3.75Z" fill="#008C7D"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="15" height="15" fill="white"/>
									</clipPath>
									</defs>
									</svg>

									p 14.07.20
							a(href="!#") Открытие международной Олимпиады по психологии для всех учащихся
						.b-events-right__item
							div <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M13.2812 15H1.71879C0.770645 15 0 14.2293 0 13.2812V2.96867C0 2.02053 0.770645 1.25 1.71879 1.25H13.2812C14.2294 1.25 15 2.02053 15 2.96867V13.2812C15 14.2293 14.2294 15 13.2812 15ZM1.71879 2.1875C1.28815 2.1875 0.9375 2.53803 0.9375 2.96867V13.2812C0.9375 13.7118 1.28815 14.0625 1.71879 14.0625H13.2812C13.7119 14.0625 14.0625 13.7118 14.0625 13.2812V2.96867C14.0625 2.53803 13.7119 2.1875 13.2812 2.1875H1.71879Z" fill="#008C7D"/>
									<path d="M14.5312 5.9375H0.46875C0.209999 5.9375 0 5.7275 0 5.46875C0 5.21 0.209999 5 0.46875 5H14.5312C14.79 5 15 5.21 15 5.46875C15 5.7275 14.79 5.9375 14.5312 5.9375Z" fill="#008C7D"/>
									<path d="M3.59375 3.75C3.335 3.75 3.125 3.54 3.125 3.28125V0.46875C3.125 0.209999 3.335 0 3.59375 0C3.8525 0 4.0625 0.209999 4.0625 0.46875V3.28125C4.0625 3.54 3.8525 3.75 3.59375 3.75Z" fill="#008C7D"/>
									<path d="M11.4062 3.75C11.1475 3.75 10.9375 3.54 10.9375 3.28125V0.46875C10.9375 0.209999 11.1475 0 11.4062 0C11.665 0 11.875 0.209999 11.875 0.46875V3.28125C11.875 3.54 11.665 3.75 11.4062 3.75Z" fill="#008C7D"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="15" height="15" fill="white"/>
									</clipPath>
									</defs>
									</svg>

									p 14.07.20
							a(href="!#") Открытие международной Олимпиады по психологии для всех учащихся
						.b-events-right__item
							div <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M13.2812 15H1.71879C0.770645 15 0 14.2293 0 13.2812V2.96867C0 2.02053 0.770645 1.25 1.71879 1.25H13.2812C14.2294 1.25 15 2.02053 15 2.96867V13.2812C15 14.2293 14.2294 15 13.2812 15ZM1.71879 2.1875C1.28815 2.1875 0.9375 2.53803 0.9375 2.96867V13.2812C0.9375 13.7118 1.28815 14.0625 1.71879 14.0625H13.2812C13.7119 14.0625 14.0625 13.7118 14.0625 13.2812V2.96867C14.0625 2.53803 13.7119 2.1875 13.2812 2.1875H1.71879Z" fill="#008C7D"/>
									<path d="M14.5312 5.9375H0.46875C0.209999 5.9375 0 5.7275 0 5.46875C0 5.21 0.209999 5 0.46875 5H14.5312C14.79 5 15 5.21 15 5.46875C15 5.7275 14.79 5.9375 14.5312 5.9375Z" fill="#008C7D"/>
									<path d="M3.59375 3.75C3.335 3.75 3.125 3.54 3.125 3.28125V0.46875C3.125 0.209999 3.335 0 3.59375 0C3.8525 0 4.0625 0.209999 4.0625 0.46875V3.28125C4.0625 3.54 3.8525 3.75 3.59375 3.75Z" fill="#008C7D"/>
									<path d="M11.4062 3.75C11.1475 3.75 10.9375 3.54 10.9375 3.28125V0.46875C10.9375 0.209999 11.1475 0 11.4062 0C11.665 0 11.875 0.209999 11.875 0.46875V3.28125C11.875 3.54 11.665 3.75 11.4062 3.75Z" fill="#008C7D"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="15" height="15" fill="white"/>
									</clipPath>
									</defs>
									</svg>

									p 14.07.20
							a(href="!#") Открытие международной Олимпиады по психологии для всех учащихся
						.b-events-right__item
							div <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M13.2812 15H1.71879C0.770645 15 0 14.2293 0 13.2812V2.96867C0 2.02053 0.770645 1.25 1.71879 1.25H13.2812C14.2294 1.25 15 2.02053 15 2.96867V13.2812C15 14.2293 14.2294 15 13.2812 15ZM1.71879 2.1875C1.28815 2.1875 0.9375 2.53803 0.9375 2.96867V13.2812C0.9375 13.7118 1.28815 14.0625 1.71879 14.0625H13.2812C13.7119 14.0625 14.0625 13.7118 14.0625 13.2812V2.96867C14.0625 2.53803 13.7119 2.1875 13.2812 2.1875H1.71879Z" fill="#008C7D"/>
									<path d="M14.5312 5.9375H0.46875C0.209999 5.9375 0 5.7275 0 5.46875C0 5.21 0.209999 5 0.46875 5H14.5312C14.79 5 15 5.21 15 5.46875C15 5.7275 14.79 5.9375 14.5312 5.9375Z" fill="#008C7D"/>
									<path d="M3.59375 3.75C3.335 3.75 3.125 3.54 3.125 3.28125V0.46875C3.125 0.209999 3.335 0 3.59375 0C3.8525 0 4.0625 0.209999 4.0625 0.46875V3.28125C4.0625 3.54 3.8525 3.75 3.59375 3.75Z" fill="#008C7D"/>
									<path d="M11.4062 3.75C11.1475 3.75 10.9375 3.54 10.9375 3.28125V0.46875C10.9375 0.209999 11.1475 0 11.4062 0C11.665 0 11.875 0.209999 11.875 0.46875V3.28125C11.875 3.54 11.665 3.75 11.4062 3.75Z" fill="#008C7D"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="15" height="15" fill="white"/>
									</clipPath>
									</defs>
									</svg>

									p 14.07.20
							a(href="!#") Открытие международной Олимпиады по психологии для всех учащихся
						

			