footer.bg-dark
    .b-container
        .b-footer.d-flex
            .b-footer__top
                a(href="/").b-footer__logo.b-header__logo
                    +svg('LogoLitsey')
                .b-footer__box
                    .b-footer__items
                        .b-footer__group
                            a(href="/index.html").b-footer__item.b-footer__item--active Главная
                            a(href="/news.html").b-footer__item Новости 
                            a(href="/index.html").b-footer__item Электронная приемная
                            a(href="/index.html").b-footer__item Опросы                           
                        .b-footer__group
                            a(href="/index.html").b-footer__item Мероприятия
                            a(href="/index.html").b-footer__item Учебная структура
                            a(href="/index.html").b-footer__item Административная структура
                            a(href="/index.html").b-footer__item Справочник контактов
                .b-footer__grid
                    .b-footer__soc
                        .b-footer__txt Мы в социальных сетях:
                        .b-footer__wrap
                            a(href="javascript:void(0);").b-footer__bloc
                                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <ellipse cx="14.185" cy="14.385" rx="13.395" ry="13.385" fill="white"/>
                                    <path class="in" d="M27.5868 14.3861C27.5868 6.99236 21.5897 1 14.1902 1C6.79057 1 0.793457 6.99236 0.793457 14.3861C0.793457 21.7798 6.79057 27.7722 14.1902 27.7722C14.2686 27.7722 14.3471 27.7722 14.4256 27.7669V17.3509H11.5474V13.9991H14.4256V11.5311C14.4256 8.67085 16.1735 7.11263 18.7272 7.11263C19.9518 7.11263 21.0036 7.20152 21.3071 7.24335V10.2343H19.5488C18.1621 10.2343 17.8899 10.8931 17.8899 11.8605V13.9939H21.213L20.7786 17.3457H17.8899V27.2545C23.4893 25.6492 27.5868 20.4987 27.5868 14.3861Z" fill="#353942"/>
                                    <path d="M27.28 14.385C27.28 21.6114 21.4174 27.47 14.185 27.47C6.95266 27.47 1.09004 21.6114 1.09004 14.385C1.09004 7.15857 6.95266 1.3 14.185 1.3C21.4174 1.3 27.28 7.15857 27.28 14.385Z" stroke="white" stroke-width="0.6"/>
                                </svg>
                            a(href="javascript:void(0);").b-footer__bloc
                                <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <ellipse cx="13.9848" cy="14.385" rx="13.395" ry="13.385" fill="white"/>
                                    <path class="in" d="M16.5474 14.3863C16.5474 15.8014 15.3994 16.9485 13.9832 16.9485C12.567 16.9485 11.4189 15.8014 11.4189 14.3863C11.4189 12.9713 12.567 11.8242 13.9832 11.8242C15.3994 11.8242 16.5474 12.9713 16.5474 14.3863Z" fill="#353942"/>
                                    <path class="in" d="M19.98 9.85314C19.8567 9.51938 19.6601 9.21729 19.4046 8.96933C19.1564 8.71401 18.8543 8.51751 18.52 8.39435C18.249 8.28916 17.8418 8.16395 17.0918 8.12984C16.2804 8.09287 16.0372 8.0849 13.9832 8.0849C11.929 8.0849 11.6858 8.09266 10.8746 8.12963C10.1246 8.16395 9.71721 8.28916 9.44636 8.39435C9.11214 8.51751 8.8098 8.71401 8.56185 8.96933C8.30632 9.21729 8.10967 9.51918 7.98621 9.85314C7.88093 10.124 7.75562 10.5311 7.72149 11.2805C7.68449 12.091 7.67651 12.334 7.67651 14.3866C7.67651 16.4389 7.68449 16.682 7.72149 17.4927C7.75562 18.2421 7.88093 18.649 7.98621 18.9198C8.10967 19.2538 8.30612 19.5557 8.56164 19.8036C8.8098 20.059 9.11193 20.2555 9.44615 20.3786C9.71721 20.484 10.1246 20.6092 10.8746 20.6433C11.6858 20.6803 11.9288 20.6881 13.983 20.6881C16.0374 20.6881 16.2806 20.6803 17.0916 20.6433C17.8416 20.6092 18.249 20.484 18.52 20.3786C19.1909 20.12 19.7212 19.5902 19.98 18.9198C20.0853 18.649 20.2106 18.2421 20.2449 17.4927C20.2819 16.682 20.2897 16.4389 20.2897 14.3866C20.2897 12.334 20.2819 12.091 20.2449 11.2805C20.2108 10.5311 20.0855 10.124 19.98 9.85314ZM13.9832 18.3334C11.8015 18.3334 10.0328 16.5664 10.0328 14.3864C10.0328 12.2064 11.8015 10.4394 13.9832 10.4394C16.1647 10.4394 17.9334 12.2064 17.9334 14.3864C17.9334 16.5664 16.1647 18.3334 13.9832 18.3334ZM18.0895 11.2057C17.5797 11.2057 17.1664 10.7927 17.1664 10.2833C17.1664 9.77389 17.5797 9.36088 18.0895 9.36088C18.5994 9.36088 19.0127 9.77389 19.0127 10.2833C19.0125 10.7927 18.5994 11.2057 18.0895 11.2057Z" fill="#353942"/>
                                    <path class="in" d="M13.9836 1C6.58595 1 0.586914 6.99428 0.586914 14.3861C0.586914 21.7779 6.58595 27.7722 13.9836 27.7722C21.3813 27.7722 27.3803 21.7779 27.3803 14.3861C27.3803 6.99428 21.3813 1 13.9836 1ZM21.6298 17.5551C21.5926 18.3733 21.4624 18.932 21.2723 19.421C20.8727 20.4535 20.0558 21.2697 19.0225 21.669C18.5333 21.859 17.974 21.9889 17.1553 22.0262C16.335 22.0636 16.073 22.0726 13.9838 22.0726C11.8945 22.0726 11.6326 22.0636 10.8121 22.0262C9.99338 21.9889 9.4341 21.859 8.94493 21.669C8.43143 21.476 7.96659 21.1735 7.58228 20.7823C7.19103 20.3985 6.88828 19.9339 6.69511 19.421C6.505 18.9322 6.37479 18.3733 6.33758 17.5553C6.29977 16.7354 6.29098 16.4736 6.29098 14.3861C6.29098 12.2986 6.29977 12.0367 6.33738 11.2171C6.37458 10.3988 6.50459 9.84017 6.6947 9.35118C6.88787 8.8383 7.19082 8.37362 7.58228 7.98982C7.96638 7.59867 8.43143 7.29617 8.94472 7.10315C9.4341 6.91319 9.99318 6.78329 10.8121 6.74591C11.6324 6.70853 11.8945 6.69954 13.9836 6.69954C16.0728 6.69954 16.3348 6.70853 17.1551 6.74611C17.974 6.78329 18.5331 6.91319 19.0225 7.10295C19.5358 7.29597 20.0008 7.59867 20.3851 7.98982C20.7764 8.37382 21.0793 8.8383 21.2723 9.35118C21.4626 9.84017 21.5926 10.3988 21.63 11.2171C21.6675 12.0367 21.6762 12.2986 21.6762 14.3861C21.6762 16.4736 21.6675 16.7354 21.6298 17.5551Z" fill="#353942"/>
                                    <path d="M27.0798 14.385C27.0798 21.6114 21.2172 27.47 13.9848 27.47C6.75246 27.47 0.889844 21.6114 0.889844 14.385C0.889844 7.15857 6.75246 1.3 13.9848 1.3C21.2172 1.3 27.0798 7.15857 27.0798 14.385Z" stroke="white" stroke-width="0.6"/>
                                </svg>
            .b-footer__bottom
                .b-footer__partners
                    .b-footer__partner
                        img(src="./img/p1.svg" alt="")
                    .b-footer__partner
                        img(src="./img/p2.svg" alt="")
                .b-footer__cover
                    a(href="javascript:void(0);").b-footer__link © 2020 Усть-Лабинский Лицей
                    a(href="javascript:void(0);").b-footer__link Условия использования сайта
                    a(href="javascript:void(0);").b-footer__link Сведения об образовательной организации
                    a(href="javascript:void(0);").b-footer__link Обратная связь
