header.header
    .header__inner
        .b-container
            .b-header.row.d-flex.justify-content-between.align-items-center
                .b-header-left
                    a(href="/").b-header__logo
                        img(src="img/logo.png", alt="")
                .b-header-account
                    .b-header-account__menu
                        p.account-btn Иванов Иван
                        a(href="#!").b-header-account__logout
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="688.000000pt" height="577.000000pt" viewBox="0 0 688.000000 577.000000" preserveAspectRatio="xMidYMid meet">
                                <g transform="translate(0.000000,577.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                                    <path d="M840 5633 c-196 -33 -390 -181 -480 -368 -75 -154 -70 14 -70 -2340 0 -2350 -4 -2198 68 -2350 85 -176 234 -301 435 -363 46 -15 197 -17 1401 -19 1516 -4 1456 -6 1601 66 182 91 295 222 361 421 17 51 19 109 22 818 l3 762 -218 -2 -218 -3 -5 -740 -5 -740 -23 -37 c-13 -21 -35 -47 -50 -59 -66 -51 3 -49 -1422 -49 -965 0 -1336 3 -1361 11 -56 19 -100 59 -125 113 l-24 51 0 2115 c0 2033 1 2117 19 2156 26 58 92 111 155 124 35 7 465 10 1361 8 l1310 -3 41 -22 c47 -25 91 -73 111 -120 10 -26 13 -172 13 -758 l0 -725 220 0 221 0 -3 758 -3 757 -24 70 c-63 189 -177 322 -346 406 -147 72 -66 69 -1580 67 -748 0 -1371 -3 -1385 -5z"/>
                                    <g transform="translate(500, 0)">
                                        <path d="M4455 4098 c-3 -7 -6 -170 -7 -363 l-3 -350 -1088 -3 -1087 -2 -20 -33 c-19 -30 -20 -51 -20 -423 0 -403 4 -445 40 -464 12 -6 414 -10 1099 -10 l1081 0 0 -361 0 -360 24 3 c28 3 1206 1161 1206 1184 0 8 -226 238 -502 512 -728 720 -710 704 -723 670z"/>
                                    </g>
                                </g>
                            </svg>

                .burger
                    span
                    span
                    span         
        .navbar.row
            .b-container.b-container--navbar
                .navbar-header
                    .navbar-expand-lg
                        .collapse.navbar-collapse
                            ul.navbar-nav
                                li.nav-item.my-2.nav-link--active
                                    a.nav-link(href="/index.html") Главная
                                li.nav-item.my-2
                                    a.nav-link(href="/news.html") Новости
                                li.nav-item.my-2
                                    a.nav-link(href="/department.html") Учебная структура
                                li.nav-item.my-2
                                    a.nav-link(href="/adminStructure.html") Административная структура
                                li.nav-item.my-2
                                    a.nav-link(href="/manual.html") Справочник контактов
                                li.nav-item.my-2
                                    a.nav-link(href="/reception.html") Электронная приемная
                                li.nav-item.my-2
                                    a.nav-link(href="/survey.html") Опросы
                                
        .header-section
            .header-section__wrapper
                .header-section__inner
                    .header-section__top
                        a(href="javascript:void(0);").header-section__logo
                            img(src="img/logo.png", alt="")
                        .header-section__close
                    .header-section__list
                        a(href="/index.html").header-section__item.header-section__item--active Главная
                        a(href="/news.html").header-section__item Новости
                        a(href="/department.html").header-section__item Учебная структура
                        a(href="/adminStructure.html").header-section__item Административная структура
                        a(href="/manual.html").header-section__item Справочник контактов
                        a(href="/reception.html").header-section__item Электронная приемная
                        a(href="/survey.html").header-section__item Опросы
                        .header-section__item
                            .b-header-account
                                .b-header-account__menu
                                    p.account-btn Иванов Иван
                                    a(href="#!").b-header-account__logout
                                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="600.000000pt" height="577.000000pt" viewBox="0 0 600.000000 577.000000" preserveAspectRatio="xMidYMid meet">
                                            <g transform="translate(0.000000,577.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                                                <path d="M840 5633 c-196 -33 -390 -181 -480 -368 -75 -154 -70 14 -70 -2340 0 -2350 -4 -2198 68 -2350 85 -176 234 -301 435 -363 46 -15 197 -17 1401 -19 1516 -4 1456 -6 1601 66 182 91 295 222 361 421 17 51 19 109 22 818 l3 762 -218 -2 -218 -3 -5 -740 -5 -740 -23 -37 c-13 -21 -35 -47 -50 -59 -66 -51 3 -49 -1422 -49 -965 0 -1336 3 -1361 11 -56 19 -100 59 -125 113 l-24 51 0 2115 c0 2033 1 2117 19 2156 26 58 92 111 155 124 35 7 465 10 1361 8 l1310 -3 41 -22 c47 -25 91 -73 111 -120 10 -26 13 -172 13 -758 l0 -725 220 0 221 0 -3 758 -3 757 -24 70 c-63 189 -177 322 -346 406 -147 72 -66 69 -1580 67 -748 0 -1371 -3 -1385 -5z"/>
                                                <g transform="translate(500, 0)">
                                                    <path d="M4455 4098 c-3 -7 -6 -170 -7 -363 l-3 -350 -1088 -3 -1087 -2 -20 -33 c-19 -30 -20 -51 -20 -423 0 -403 4 -445 40 -464 12 -6 414 -10 1099 -10 l1081 0 0 -361 0 -360 24 3 c28 3 1206 1161 1206 1184 0 8 -226 238 -502 512 -728 720 -710 704 -723 670z"/>
                                                </g>
                                            </g>
                                        </svg>

            //.b-container
                //- .navbar-header
                //-     .navbar-expand-lg
                //-         .collapse.navbar-collapse
                //-             ul.navbar-nav
                //-                 li.nav-item.my-2.nav-link--active
                //-                     a.nav-link(href="/index.html") Главная
                //-                 li.nav-item.my-2
                //-                     a.nav-link(href="/news.html") Новости
                //-                 li.nav-item.my-2
                //-                     a.nav-link(href="/department.html") Учебная структура
                //-                 li.nav-item.my-2
                //-                     a.nav-link(href="/adminStructure.html") Административная структура
                //-                 li.nav-item.my-2
                //-                     a.nav-link(href="/manual.html") Справочник контактов
                //-                 li.nav-item.my-2
                //-                     a.nav-link(href="/reception.html") Электронная приемная