.bd-example.container-fluid
	.row
		.col-xl-12.px-0
			.carousel.slide#carouselExampleCaptions(data-ride="carousel")
				ol.carousel-indicators
					li.active(data-target="#carouselExampleCaptions" data-slide-to="0")
					li(data-target="#carouselExampleCaptions" data-slide-to="1")

				.carousel-inner(role="listbox")
					.carousel-item.active
						img.d-block.w-100(src="img/header-slider.png" alt="First slide")
						.carousel-caption.d-md-block
							h3 Открытие Олимпиады  по психологии 
							p Участие в Олимпиаде по педагогике станет весомым вкладом в портфолио лучших студентов! Работы принимаются до 15 июня 2020 года. Подведение итогов – до 5 июля 2020 г. Порядок подачи работ на олимпиаду: для участия в олимпиаде необходимо прислать ответы на электронный адрес <a class="txttohtmllink" href="mailto:ikashuba@mail.ru">ikashuba@mail.ru</a> 

					.carousel-item
						img.d-block.w-100(src="img/header-slider.png" alt="Second slide")
						.carousel-caption.d-md-block
							h3 Открытие Олимпиады  по психологии 
							p Участие в Олимпиаде по педагогике станет весомым вкладом в портфолио лучших студентов! Работы принимаются до 15 июня 2020 года. Подведение итогов – до 5 июля 2020 г. Порядок подачи работ на олимпиаду: для участия в олимпиаде необходимо прислать ответы на электронный адрес ikashuba@mail.ru 

				a.carousel-control-prev(href="#carouselExampleCaptions" role="button" data-slide="prev")
					span.carousel-control-prev-icon(aria-hidden="true")
					span.sr-onlyPrevious

				a.carousel-control-next(href="#carouselExampleCaptions" role="button" data-slide="next")
					span.carousel-control-next-icon(aria-hidden="true")
					span.sr-only 
					