section.news
    .b-container
        .b-news
            .b-news__title
                h2 Новости и объявления

            .b-news-navbar.navbar-expand-lg
                #navbarSupportedContent
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a(href="javascript:void(0):").nav-link.nav-links.nav-links--active Общество
                        li.nav-item
                            a(href="javascript:void(0):").nav-link.nav-links Культура
                        li.nav-item
                            a(href="javascript:void(0):").nav-link.nav-links Спорт
                        li.nav-item
                            a(href="javascript:void(0):").nav-link.nav-links.nav-links--active Наука
                        li.nav-item.nav-item--none
                            a(href="javascript:void(0):").nav-link.nav-links Культура
                        li.nav-item.nav-item--none
                            a(href="javascript:void(0):").nav-link.nav-links Спорт
                        li.nav-item.nav-item--none
                            a(href="javascript:void(0):").nav-link.nav-links Наука

                    .b-news-dropdown
                        button.b-btn-sort Сортировать по разделу
                        i.fa.fa-caret-down
                        div.b-news-dropdown__menu
                            a(href="#!") Сортировать по разделу
                            a(href="#!") Сортировать по дате
                            a(href="#!") Сортировать по дате


            .b-news-content.flex-wrap.d-flex.justify-content-between.row
                .b-news-content-item.card.col-xl-3.col-md-3
                    .b-news-content-item__inner
                        a(href="/selectedNews.html")
                            img(src="img/news-cards/1.png", alt="").card-img-top
                        .b-news-content-item__tag
                            span Общество
                            span Наука

                    .card-body
                        .card-subtext
                            span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
                        a(href="/selectedNews.html")
                            .card-title Заголовок последней новости
                            .card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.
                        
                .b-news-content-item.card.col-xl-3.col-md-3
                    .b-news-content-item__inner
                        a(href="/selectedNews.html")
                            img(src="img/news-cards/1.png", alt="").card-img-top
                        .b-news-content-item__tag
                            span Общество
                            span Наука

                    .card-body
                        .card-subtext
                            span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
                        a(href="/selectedNews.html")
                            .card-title Заголовок последней новости
                            .card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития. 

                .b-news-content-item.card.col-xl-3.col-md-3
                    .b-news-content-item__inner
                        a(href="/selectedNews.html")
                            img(src="img/news-cards/1.png", alt="").card-img-top
                        .b-news-content-item__tag
                            span Общество
                            span Наука

                    .card-body
                        .card-subtext
                            span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
                        a(href="/selectedNews.html")
                            .card-title Заголовок последней новости
                            .card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития. 
    
                .b-news-content-item.card.col-xl-3.col-md-3
                    .b-news-content-item__inner
                        a(href="/selectedNews.html")
                            img(src="img/news-cards/1.png", alt="").card-img-top
                        .b-news-content-item__tag
                            span Общество
                            span Наука

                    .card-body
                        .card-subtext
                            span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
                        a(href="/selectedNews.html")
                            .card-title Заголовок последней новости
                            .card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития. 

                .b-news-content-item.card.col-xl-3.col-md-3
                    .b-news-content-item__inner
                        a(href="/selectedNews.html")
                            img(src="img/news-cards/1.png", alt="").card-img-top
                        .b-news-content-item__tag
                            span Общество
                            span Наука

                    .card-body
                        .card-subtext
                            span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
                        a(href="/selectedNews.html")
                            .card-title Заголовок последней новости
                            .card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития. 
                        
                .b-news-content-item.card.col-xl-3.col-md-3
                    .b-news-content-item__inner
                        a(href="/selectedNews.html")
                            img(src="img/news-cards/1.png", alt="").card-img-top
                        .b-news-content-item__tag
                            span Общество
                            span Наука

                    .card-body
                        .card-subtext
                            span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
                        a(href="/selectedNews.html")
                            .card-title Заголовок последней новости
                            .card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития. 

                .b-news-content-item.card.col-xl-3.col-md-3
                    .b-news-content-item__inner
                        a(href="/selectedNews.html")
                            img(src="img/news-cards/1.png", alt="").card-img-top
                        .b-news-content-item__tag
                            span Общество
                            span Наука

                    .card-body
                        .card-subtext
                            span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
                        a(href="/selectedNews.html")
                            .card-title Заголовок последней новости
                            .card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.

                .b-news-content-item.card.col-xl-3.col-md-3
                    .b-news-content-item__inner
                        a(href="/selectedNews.html")
                            img(src="img/news-cards/1.png", alt="").card-img-top
                        .b-news-content-item__tag
                            span Общество
                            span Наука

                    .card-body
                        .card-subtext
                            span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
                        a(href="/selectedNews.html")
                            .card-title Заголовок последней новости
                            .card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития. 

                .b-news-content-item.card.col-xl-3.col-md-3
                    .b-news-content-item__inner
                        a(href="/selectedNews.html")
                            img(src="img/news-cards/1.png", alt="").card-img-top
                        .b-news-content-item__tag
                            span Общество
                            span Наука

                    .card-body
                        .card-subtext
                            span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
                        a(href="/selectedNews.html")
                            .card-title Заголовок последней новости
                            .card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития. 

            .b-news__button.b-news__button--width
                    a(type="button").btn.btn-primary.btn-lg Посмотреть все нововсти