section.slider-footer
	.container-fluid
		.b-slider-footer.row
			.col-xl-12.swiper-container
				.swiper-wrapper
					div.swiper-slide
						img(src="img/slider-footer/1.png" alt="1 slide")
					div.swiper-slide
						img(src="img/slider-footer/2.png" alt="2 slide")
					div.swiper-slide
						img(src="img/slider-footer/3.png" alt="3 slide")
					div.swiper-slide
						img(src="img/slider-footer/4.png" alt="4 slide")
					div.swiper-slide 
						img(src="img/slider-footer/1.png" alt="5 slide")

				.swiper-button-prev
				.swiper-button-next