.b-accordion {
    & .list-group-item {
        text-align   : left !important;
        border       : none;
        transition   : ease .3s;
        padding      : 0;
        // padding   : 8px 0px 8px 41px;
    }

    &-first {
        & a {
            font-family: Montserrat;
            font-style : normal;
            font-weight: 600;
            font-size  : 18px;

            line-height : 22px;
            color       : #3B3B3B;
            padding-left: 0;

            &:hover {
                text-decoration: none;
                color          : $birus;
            }
        }
    }

    &-second {
        font-family: Montserrat;
        font-style : normal;
        font-weight: 500;
        font-size  : 16px;

        line-height: 20px;
        color      : #3B3B3B;
        display    : flex;

        &:hover {
            text-decoration: none;
            color          : $birus;
        }
    }

    &-third {
        & a {
            font-family: Montserrat;
            font-style : normal;
            font-weight: normal;
            font-size  : 16px;

            line-height: 20px;
            color      : #3B3B3B;

            padding-left: 40px;
        }

        &--active {
            color: $birus !important;
        }


        .list-group-item {
            padding: 19px 0 0 70px !important;
        }


    }

    & a {
        position: relative;

        & i {
            position: absolute;
            right   : 0;
            top     : 20%;
        }
    }

    .panel-collapse {
        .list-group-item {
            padding: 20px 0 0px 41px;
        }

        i {
            top: 20px
        }
    }
}

.fa-caret-down--up {
    transform: rotate(180deg);
}