.adminStructure {
    margin-top: 28px;

    @media (max-width: 1024px) {
        margin-top: 25px;
    }

    @media (max-width: 620px) {
        margin-top: 14px;
    }

    & .b-department-right__title {
        & h2 {
            @media (max-width: 1200px) {
                font-size: 28px;
            }

            @media (max-width: 500px) {
                font-size: 28px;
            }
        }
    }

    & .faculty__item {
        @media (max-width: 500px) {
            font-size: 16px;
        }

        & li {
            @media (max-width: 500px) {
                font-size: 16px;
            }
        }
    }

    & .col-lg-8 {
        @media (max-width: 1024px) {
            width: 100%;
            max-width: 100%;
        }
    }

    & .col-lg-4 {
        @media (max-width: 1024px) {
            width: 100%;
            max-width: 100%;
        }
    }

    &--active {
        margin-top: 27px;

        & .b-adminStructure__desc {
            display: none;
        }

        & .b-senate-content {
            display: block;
        }
    }
}

.b-adminStructure {
    & .b-department-right {
        &::after {
            display: none;
        }
    }

    &-content {
        flex-wrap: nowrap;

        @media (max-width: 1024px) {
            flex-direction: column-reverse;
        }

        &__left {
            max-width: 866px;
            width: 100%;
            padding: 0;
            flex: initial;
            margin-right: 25px;

            @media(max-width: 1024px) {
                margin-right: 0;
            }
        }

        &__right {
            max-width: 349px;
            width: 100%;
            flex: initial;
            padding: 0;
        }

        margin: 0;
    }

    &-title {

        &__left,
        &__right {
            padding-bottom: 0;
        }

        &__left {
            margin-top: -5px;
            padding-bottom: 31px;
            padding-top: 25px;

            & h1 {
                font-family: Montserrat, sans-serif;
                font-weight: 600;
                font-size: 35px;
                line-height: 42px;

                color: #3B3B3B;
                text-align: left;

                @media (max-width: 1024px) {
                    font-size: 32px;
                    line-height: 39px;
                }

                @media (max-width: 620px) {
                    font-size: 24px;
                    line-height: 29px;
                }

                // @media (max-width: 620px) {
                //     font-size  : 28px;
                //     line-height: 32px;
                // }
            }

            & h2 {
                font-family: Montserrat, sans-serif;
                font-weight: 600;
                font-size: 32px;
                line-height: 39px;
                letter-spacing: -0.2px;
                color: #3B3B3B;
                text-align: left;

                @media (max-width: 1024px) {
                    font-size: 35px;
                    line-height: 42px;
                }

                @media (max-width: 620px) {
                    font-size: 28px;
                    line-height: 32px;
                }
            }

            @media (max-width: 1225px) {
                margin-top: 0;
                padding-bottom: 33px;
            }

            @media (max-width: 1024px) {
                padding-bottom: 25px;
                padding-top: 0;
                margin-top: 36px;
                margin-bottom: 0;
            }

            @media (max-width: 620px) {
                padding-bottom: 22px;
            }
        }

        &__right {
            padding-bottom: 31px;

            @media (max-width: 1024px) {
                padding-bottom: 25px;
            }

            @media (max-width: 620px) {
                padding-bottom: 0;
                margin-bottom: 33px;
            }

            & h2 {
                font-family: Montserrat, sans-serif;
                font-weight: 600;
                font-size: 22px;
                line-height: 31px;
                letter-spacing: -0.2px;
                color: #3B3B3B;
                text-align: left;

                @media (max-width: 1024px) {
                    font-size: 35px !important;
                    line-height: 42px;
                }

                @media (max-width: 620px) {
                    font-size: 28px !important;
                    line-height: 32px;
                }
            }
        }
    }

    & .b-selectedNews__text {
        margin: 0;
    }
}

.b-adminStructure__text {
    padding-top: 37px;
    line-height: 27px;
    font-size: 16px;

    & p {
        // margin-bottom: 30px;

        &:not(:first-child) {
            margin-top: 28px;
        }

        @media (max-width: 600px) {
            line-height: 160%;
        }
    }

    & ul {
        list-style: none;
        position: relative;

        & li {
            margin-bottom: 27px;

            &::before {
                content: "\2013";
                margin-right: 10px;

                @media (max-width: 600px) {
                    margin-right: 5px;
                }
            }

            @media (max-width: 600px) {
                margin-bottom: 15px;
            }
        }
    }

    @media (max-width: 620px) {
        padding-top: 0;
        font-size: 14px;
        line-height: 27px;
    }

    &--list {
        padding-top: 19px;
        line-height: 19px;

        p:not(:first-child) {
            margin-top: 20px;
        }
    }
}

.faculty__item {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 500;

    & li {
        margin-left: 0px;
    }
}

.b-senate {
    position: relative;
    margin-top: 41px;
    padding-top: 43px;



    &::before {
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;

        top: 0;
        left: 0;
        background: #E8EAEC;
    }

    &::after {
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;

        bottom: -30px;
        left: 0;
        background: #E8EAEC;
        display: none;

        @media (max-width: 1024px) {
            display: block;
        }

        @media (max-width: 1024px) {
            bottom: 0;
        }
    }

    &-content {
        display: none;

        & .b-adminStructure__text {
            margin: 0 0 45px;

            & p {
                @media (max-width: 600px) {
                    margin-bottom: 20px;
                }
            }

            @media (max-width: 600px) {
                margin: 20px 0 30px;
            }
        }

        & .b-adminStructure-title__left {
            @media (max-width: 900px) {
                margin-bottom: 5px;
            }
        }
    }

    &__item {
        & a {
            color: #3B3B3B;
            transition: ease .3s;

            &:hover {
                text-decoration: none;
                color: $birus;
            }

            @media (max-width: 600px) {
                font-size: 18px;
                line-height: 22px;
            }
        }

        &::after {
            display: none;
        }

        &--active {
            & a {
                color: $birus;
            }
        }
    }

    @media(max-width: 1024px) {
        margin-top: 30px;
        padding-top: 30px;
        padding-bottom: 1px;
    }

    @media(max-width: 620px) {
        padding-top: 40px;
        padding-bottom: 11px;
    }


    .b-department-right__faculty {
        &:not(:last-child) {
            margin-bottom: 30px;

            @media(max-width: 1024px) {
                margin-bottom: 20px;
            }

            @media(max-width: 620px) {
                margin-bottom: 29px;
            }
        }
    }

}

.show {
    display: block;
}

#accordion {
    padding-top: 39px;

    & .panel {
        &:not(:last-child) {
            margin-bottom: 17px;

            @media (max-width: 600px) {
                //padding-top: 15px;
                margin-bottom: 30px;

                &:first-child {
                    padding-top: 0;
                }
            }
        }


    }

    @media (max-width: 1024px) {
        padding-top: 30px;
    }

    @media (max-width: 600px) {
        padding-top: 0;
    }

    .panel-heading {
        a {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            @media(max-width: 1024px) {
                justify-content: initial;
            }

            @media(max-width: 400px) {
                justify-content: space-between;
            }

            div {
                max-width: 315px;
                width: 100%;

                @media(max-width: 1024px) {
                    width: auto;
                    max-width: initial;
                    margin-right: 10px;
                }

                @media(max-width: 620px) {
                    width: 100%;
                    max-width: 100%;
                    margin-right: 10px;
                }
            }

            i {
                transition: .3s;
                position: relative;
                top: 0;
            }
        }
    }

    .b-accordion-second {
        i {
            font-size: 18px;

            @media(max-width:1024px) {
                right: -10px;
            }

            @media(max-width: 400px) {
                right: 0;
            }

        }
    }
}