.b-breadcrumb {
    padding   : 0;
    margin-top: 30px;

    @media(max-width: 620px) {
        margin-top: 14px;
    }

    &--header {
        margin-top: 20px;
    }
}

.breadcrumb {
    background   : #ffffff !important;
    padding      : 0 !important;
    margin-bottom: 0;

    & li {
        align-items: center;
    }

    & a {
        font-family: Montserrat;
        font-weight: normal;
        font-size  : 12px;
        line-height: 12px;

        transition     : all ease .3s;
        color          : #3B3B3B;
        text-decoration: none;
        position       : relative;

        &::after {
            content : "";
            position: absolute;
            width   : 100%;
            height  : .8px;

            background: #3B3B3B;
            bottom    : 0;
            left      : 0;
        }

        &:hover {
            color          : $birus;
            text-decoration: none;

            &::after {
                background-color: $birus;
                //opacity: 0;
            }
        }
    }

    & ul {
        @media (max-width: 1024px) {
            margin-bottom: 0 !important;
        }
    }

    &-item {
        &::before {
            font-size: 12px;
            position : relative;
            top      : 1px;
        }

        a {
            position      : relative;
            padding-bottom: 1px;

            &:after {
                content         : "";
                position        : absolute;
                width           : 100%;
                height          : 0.5px;
                background-color: #3b3b3b;
                transition      : .3s;
            }
        }
    }

    @media (max-width: 1024px) {
        margin-bottom: 0 !important;
    }

    @media (max-width: 500px) {
        padding: 0 !important;
    }
}

.breadcrumb-item--active {
    pointer-events: none;
    align-items   : center;


    & a {
        color          : #3B3B3B;
        text-decoration: none;

        &::after {
            content: none;
        }

        &:hover {
            text-decoration: none;
            color          : #3B3B3B;
        }
    }
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 8px;

    &::before {
        padding-right: 8px;
        font-size    : 8px;
        position     : relative;
        bottom       : 0;
        margin       : auto;
        top          : 0px;
    }
}