.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    color: #0F8575 !important;
    background-color: #ffffff !important;
    border-color: #0F8575 !important;
    -webkit-appearance: none;
}

.btn-primary:focus,
.btn:focus {
    box-shadow: 0 0 0 .2rem rgba(15, 133, 117, .25) !important;
    color: #0F8575 !important;
    background-color: #ffffff !important;
    border-color: #0F8575 !important;

    -webkit-appearance: none;
}

.b-news__button {

    & a,
    & button {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

        text-align: center;
        color: #FFFFFF !important;
        padding: 16px 22px 18px 22px;
        background: $birus;

        border-radius: 4px;
        transition: linear .3s;
        border: 1px solid $birus;
        width: auto;

        -webkit-appearance: none;
        text-decoration: none;

        &:hover {
            color: $birus !important;
            background: #FFFFFF;
            border: 1px solid $birus;
        }

        @media (max-width: 620px) {
            width: 100%;
            font-size: 14px;
        }
    }
}