.b-header-burger {
    display: none;

    @media (max-width: 1024px) {
        display: block;
    }
}

#menu__toggle {
    opacity: 1;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: block;
    align-items: center;
    position: fixed;
    top: 4rem;

    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;

    z-index: 101;

    @media (max-width: 1024px) {
        top: 3rem;
    }

    @media (max-width: 1023px) {
        top: 4rem;
    }

    @media (max-width: 400px) {
        top: 3rem;
    }
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;

    background-color: $birus;
    transition-duration: .25s;
    border-radius: 1px;
}

.menu__btn>span::before {
    content: '';
    top: -6px;
}

.menu__btn>span::after {
    content: '';
    top: 6px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 7rem;

    right: -100%;
    width: 100%;
    height: auto;
    margin: 0;

    padding: 20px 0;
    list-style: none;
    background-color: #FFFFFF;

    transition-duration: .25s;
    z-index: 100;

    & a {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.25rem;

        color: #3B3B3B;
        text-align: left;

        &:hover {
            color: #0F8575;
        }
    }

    @media (max-width: 1024px) {
        top: 90px;
    }

    @media (max-width: 768px) {
        top: 80px;
    }
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;

    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;

    &--active {
        & a {
            color: $birus;
        }
    }
}

.menu__item:hover {
    background-color: #CFD8DC;
}