.b-manual-officer__img {
    margin-right: 36px;
    border-radius: 8px;
    height: 322px;
    max-width: 294px;
    width: 100%;

    & img {
        border-radius: 8px;

        @media (max-width: 400px) {
            width: 100px;
        }
    }

    @media (max-width: 1024px) {
        height: 280px;
        max-width: 250px;
        margin-right: 20px;
    }


    @media (max-width: 620px) {
        margin-right: 0px;
        max-width: 195px;
        width: 100%;
        height: 195px;
        margin-bottom: 12px;
    }

    @media (max-width: 500px) {
        max-width: 148px;
        width: 100%;
        height: 152px;
    }
}

.b-manual {
    &__title {
        margin-bottom: 30px;

        & h3 {
            font-family: Montserrat;
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;

            color: #3B3B3B;
        }
    }

    &-officer {
        margin-bottom: 45px;

        &__img {
            @media (max-width: 620px) {
                text-align: center;
            }
        }

        @media (max-width: 620px) {
            flex-direction: column;
            margin: initial;
            margin-bottom: 16px;
        }
    }

    &__text {
        & div {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }

            & p {
                font-size: 16px;
                line-height: 170%;
                letter-spacing: -0.01em;

                @media (max-width: 620px) {
                    font-size: 14px;
                    line-height: 160%;
                }
            }
        }
    }

}

.b-manual-accordion {
    & .accordion-card {
        position: relative;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        &--active {
            & h5 {
                background: #F5F5F5;

                & img {
                    transform: rotate(180deg) translate(100%, 50%);
                }
            }

            & .accordion-content {
                //  max-height: initial;
                // height: auto;
                //transition: all .2s linear;
                // opacity: 1;
                // visibility: visible;
                // max-height: initial;
                // overflow: initial;

                @media (max-width: 400px) {
                    //height: auto;
                }
            }

            & .accordion-box {
                // max-height: 189px;
                //  overflow: initial;
            }
        }

        @media (max-width: 620px) {
            margin-bottom: 15px;
        }
    }

    & .accordion-content {
        // max-height: 0;
        // transition: all .2s linear;
        // opacity: 0;
        // visibility: hidden;

        // font-family: Montserrat;
        // font-style: normal;
        // font-weight: normal;
        // font-size: 14px;

        // line-height: 160%;
        // letter-spacing: -0.01em;
        // color: #3B3B3B;
        // background: #F5F5F5;

        // border-radius: 7px 7px 7px 7px;
        // padding: 10px 60px 25px 27px;

        padding: 0px 0 36px;
        font-size: 14px;
        max-width: 821px;
        width: 100%;


        @media (max-width: 620px) {
            padding: 10px 20px 15px 10px;
        }
    }

    & .accordion-box {
        font-weight: 300;
        font-size: 14px;
        line-height: 25px;
        padding: 0 26px;
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s ease-in-out;
        background-color: #F5F5F5;
        top: -3px;
        position: relative;

        @media(max-width: 620px) {
            padding: 0 10px;
        }
    }

    & .accordion-header {
        position: relative;

        & h5 {
            padding: 25px 0px 25px 27px;
            cursor: pointer;
            border-radius: 7px 7px 7px 7px;
            transition: all ease .2s;
            margin-bottom: 0;

            &:hover {
                background: #F5F5F5;

                & a {
                    color: $birus;
                }
            }

            @media (max-width: 620px) {
                padding: 19px 10px 23px 10px;
            }
        }

        & a {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;

            line-height: 25px;
            color: #3B3B3B;
            text-decoration: none;

            @media(max-width: 620px) {
                font-size: 16px;
            }
        }

        & img {
            position: absolute;
            right: 0;
            top: 8px;
            bottom: 0;
            margin: auto;
            transform: translate(-100%, -50%);
            transition: all .2s linear;

            @media(max-width: 620px) {
                right: 0;
                width: 13px;
                height: 9px;
            }
        }
    }
}

.b-manual-officer {
    &-desc {

        & p,
        & a {
            @media (max-width: 500px) {
                // font-size: 16px;
                // margin-bottom: 0.5rem !important;
            }

            @media (max-width: 400px) {
                // font-size: 14px;
                // margin-bottom: 0.5rem !important;
            }
        }

        & div {
            margin-bottom: 20px;
            font-style: normal;
            font-size: 18px;

            line-height: 26px;
            color: #3B3B3B;

            &:last-child {
                margin-bottom: 0;
            }

            @media (max-width: 620px) {
                margin-bottom: 0px;
                // text-align: center;
                font-size: 11px;
                line-height: 26px;
            }

            p {
                @media(max-width: 620px) {
                    // text-align: center !important;
                }
            }
        }

        & a {
            &:hover {
                text-decoration: none;
                color: $birus;
            }
        }

        & strong {
            color: #3B3B3B !important;
        }
    }

    &__img {
        & img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width: 620px) {
        margin-bottom: 25px;
    }
}

.b-contact__title {
    max-width: 882px;
    width: 100%;
    margin-bottom: 34px !important;

    @media(max-width: 620px) {
        margin-bottom: 28px !important;
    }

    h1 {
        line-height: 50px;

        @media(max-width: 620px) {
            font-size: 28px;
            line-height: 33px;
            letter-spacing: 0px;
        }
    }


}