@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.department,
.adminStructure {
    margin-top: 51px;

    & .d-flex {
        justify-content: space-between;
        flex-wrap: nowrap;

        @media (max-width: 1024px) {
            flex-direction: column-reverse;
        }

        margin: 0;
    }

    @media (max-width: 1024px) {
        margin-top: 25px;
    }

    @media (max-width: 768px) {
        margin-top: 15px;
    }
}

.b-department-left {
    max-width: 866px;
    width: 100%;
    flex: auto;
    padding: 0px;
    margin-right: 30px;

    @media (max-width: 1024px) {
        max-width: 100% !important;
        margin-right: 0;
        margin-top: 34px;
    }

    &-tabs {
        & .btn-active {
            background: $birus;
            color: #ffffff;
            border-radius: 4px 4px 4px 4px !important;
        }

        & button {
            border-radius: 4px 4px 4px 4px !important;
            background: #E8EAEC;
            padding: 20px 0;
            color: #ACACAC;

            transition: all ease .3s;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;

            &:hover {
                background: $birus;
                color: #ffffff;
            }

            @media (max-width: 620px) {
                // padding: 10px;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                //padding: 9px 0px;
            }

            @media (max-width: 400px) {
                padding: 9px 0px;
            }
        }
    }
}

.b-content {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #3B3B3B;
    letter-spacing: -.01em;

    & strong,
    & b {
        color: $birus;
    }

    & h1 {
        font-size: 2.5rem;

        @media (max-width:620px) {
            font-size: 1.75rem;
        }
    }

    & h2 {
        font-size: 1.75rem;

        @media (max-width:620px) {
            font-size: 1.5rem;
        }
    }

    & h3 {
        font-size: 1.5rem;

        @media (max-width:620px) {
            font-size: 1.25rem;
        }
    }

    & h4 {
        font-size: 1.25rem;

        @media (max-width:620px) {
            font-size: 1.175rem;
        }
    }

    & h5 {
        font-size: 1.175rem;

        @media (max-width:620px) {
            font-size: 1rem;
        }
    }

    * {

        & + * {
            margin-top: 10px;
        }
    }

    & ul {
        margin-left: 30px;
        margin-top: 10px;

        @media (max-width: 500px) {
            margin-left: 10px;
        }

        & li {
            list-style-type: none;
            position: relative;

            &:before {
                content: "-";
                position: absolute;
                left: -10px;
                top: 0px;   
            }

            &+li {
                margin-top: 7px;

                @media(max-width: 620px) {
                    margin-top: 17px;
                }
            }
        }



        &+p {
            margin-top: 36px;

            @media(max-width: 1300px) {
                margin-top: 25px;
            }

            @media(max-width: 620px) {
                margin-top: 17px;
            }

            &+p {
                margin-top: 33px;

                @media(max-width: 1300px) {
                    margin-top: 25px;
                }

                @media(max-width: 620px) {
                    margin-top: 17px;
                }
            }
        }
    }

    & ol {
        margin-left: 20px;

        & li {
            color: #3B3B3B;

            &+li {
                margin-top: 7px;
            }

            @media (max-width: 620px) {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }

        @media (max-width: 500px) {
            margin-left: 15px;
        }
    }

    @media (max-width: 620px) {
        font-size: 14px;
        line-height: 19px;
    }
}

.b-manager {
    display: flex;
    margin-bottom: 15px;

    @media (max-width: 620px) {
        display: block;

        & .b-department-left-manager__img {
            text-align: center;
        }
    }
}

.b-department-left-manager {
    margin-top: 40px;

    &__desc {
        @media(max-width: 620px) {
            max-width: 245px;
            //  margin: 0 auto;
            // text-align: center;
        }

        & a {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 400;

            line-height: 26px;
            color: #3B3B3B;

            &:hover {
                text-decoration: none;
                color: $birus;
            }

            & strong {
                color: #3B3B3B !important;
            }

            @media (max-width: 500px) {
                font-weight: 400;
            }
        }

        & p,
        & a {
            @media (max-width: 500px) {
                font-size: 12px;
                line-height: 145.9%;
                margin-bottom: 0;
            }
        }
    }

    &__img {
        max-width: 250px;
        width: 100%;
        height: 270px;

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 8px;
        }
    }

    &__name {
        margin-bottom: 20px;

        & p {
            font-size: 16px;

            @media (max-width: 620px) {
                font-size: 11px;
                line-height: 17px;
            }
        }

        @media (max-width: 620px) {
            margin-bottom: 7px;
        }

        &:first-child {
            strong {
                @media(max-width: 620px) {
                    display: block;
                }
            }
        }
    }

    & .b-content {

        & p,
        & li {
            line-height: 160%;
        }
    }

    @media (max-width: 600px) {
        margin-top: 25px;
    }
}

.b-department-left-manager__img {
    margin-right: 30px;
    margin-bottom: 10px;

    & img {
        @media (max-width: 500px) {
            min-width: 100px;
            min-height: 90px;
        }
    }

    @media (max-width: 1024px) {
        margin-right: 20px;
    }

    @media (max-width: 620px) {
        max-width: 195px;
        width: 100%;
        height: 195px;

        margin-bottom: 16px;

    }

    @media (max-width: 500px) {
        max-width: 148px;
        width: 100%;
        height: 149px;
    }
}

.b-department-left-tabs {
    width: 100%;
    flex-direction: row !important;

    & button {
        border-radius: 0;
    }

    @media (max-width: 600px) {
        margin-top: 24px;
    }
}

.b-department-right__title {
    position: relative;
    //margin-bottom: 40px;
    // padding-bottom: 5px;
    padding-bottom: 30px;

    & h2 {
        font-size: 22px;
        line-height: 31px;

        @media (max-width: 900px) {
            font-size: 28px;
        }
    }

    &::after {
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: 0px;
        left: 0;
        background: #E8EAEC;

        @media (max-width: 620px) {
            display: none;
        }
    }

    @media (max-width: 1024px) {
        margin-bottom: 0px;
        padding-bottom: 15px;
    }

    @media (max-width: 620px) {
        padding-bottom: 0;
    }

    @media (max-width: 500px) {
        margin-bottom: 30px;
    }
}

.b-department-left__title {
    margin-bottom: 25px;

    @media (max-width: 1024px) {
        // margin-top: 50px;
    }

    @media(max-width: 620px) {
        margin-bottom: 21px;
    }

    h1 {
        @media (max-width: 620px) {
            font-size: 24px;
        }
    }
}

.b-department-right__faculty {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    text-align: right;
    color: #3B3B3B;
    margin-bottom: 30px;
    position: relative;

    transition: all ease .3s;
    cursor: pointer;

    & li {
        font-family: Montserrat;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;

        color: #3B3B3B;
        list-style-type: none;
        padding-left: 30px;
        margin-top: 18px;

        cursor: pointer;
        transition: all ease .3s;

        &:hover {
            color: $birus;
            font-weight: 600;
        }
    }

    &::after {
        content: url(img/arrow-down.svg);
        position: absolute;
        top: -.2rem;
        right: 2rem;

        zoom: 1.5;
    }

    &:hover {
        color: $birus;
    }
}

.b-department-right {
    position: relative;
    max-width: 330px;
    width: 100%;
    padding: 9px 0 0;

    &__droplist {
        & svg {
            width: 20px;
            height: 20px;
        }
    }

    @media (max-width: 1024px) {
        width: 100%;
        min-width: 100%;
        padding-top: 0;
        padding-bottom: 41px;

        &__droplist {
            margin-left: 30px;

            @media (max-width: 500px) {
                margin-left: 0;
            }
        }

        &__title {
            margin-top: 30px;

            @media (max-width: 1024px) {
                margin-top: 0px;
            }

            @media (max-width: 768px) {
                margin-top: 0px;
            }
        }
    }

    &::after {
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;

        bottom: 0px;
        left: 0;
        background: #E8EAEC;
        display: none;

        @media (max-width: 1024px) {
            display: block;
        }
    }
}

.b-department-desc {
    display: none;
    margin-top: 35px;

    & p {
        margin-top: 20px;
        font-size: 16px;
        letter-spacing: -0.055em;
        line-height: 170%;

        @media (max-width: 500px) {
            margin-top: 10px;
            font-size: 14px;
            line-height: 160%;
        }
    }

    & strong {
        color: $birus;
    }
}

.b-manager {
    flex-direction: row !important;

    &+.b-content {
        margin-top: 20px;

        @media(max-width: 620px) {
            margin-top: 15px;
        }
    }
}

.b-department-accordion {
    padding-top: 25px;

    & .card {
        border: none;
    }

    & .card-body {
        text-align: left;
    }

    & .card-header {
        padding: 0;
        background-color: #ffffff;
        border-bottom: 0;

        & svg {
            width: 15px;
            height: 20px;
            fill: $birus;
            z-index: 10;
        }

        &--rotate {
            & svg {
                transform: rotate(180deg) !important;
            }
        }
    }
}

.b-department-accordion {
    & h5 {
        position: relative;

        @media (max-width: 620px) {
            position: relative;
        }

        & a {
            font-family: Montserrat;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;

            text-align: left;
            color: #3B3B3B;
            text-decoration: none;
            width: 100%;

            & div {
                width: 90%;
                text-align: left;
            }

            &:hover {
                color: $birus;
            }

            @media (max-width: 400px) {
                font-size: 16px;
            }
        }

        & svg {
            pointer-events: none !important;
            position: absolute;
            right: 0;

            @media (max-width: 1024px) {
                margin-left: 20px;
                top: 0;
            }

            @media (max-width: 620px) {
                position: absolute;
                top: 5px;
                right: 0;
            }

            @media (max-width: 500px) {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        @media (max-width: 1024px) {
            display: block !important;
            position: relative;
        }
    }

    & .card {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    & .card-body {
        padding: .5rem 1rem;
        font-family: Montserrat;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #3B3B3B;
        margin-top: 7px;
        cursor: pointer;
        display: block;
    }
}

.card-body--active {
    & .card-body {
        color: $birus !important;
    }
}