.error {
    text-align: left;
    margin: auto;
    width: 100%;
    height: auto;

    @media (max-width: 1024px) {
        text-align: center;
    }

    .b-container {
        margin-top: 100px;
        padding-bottom: 100px;

        @media(max-width: 768px) {
            margin-top: 80px;
            padding-bottom: 80px;
        }

        @media(max-width: 620px) {
            margin-top: 50px;
            padding-bottom: 50px;
        }
    }
}

.error__title {
    margin-bottom: 27px;

    // margin-top: 127px;

    & h2 {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 220px;
        line-height: 269px;
        letter-spacing: .8px;
        color: $birus;

        @media(max-width: 1024px) {
            font-size: 185px;
            line-height: 140px;
        }

        @media(max-width: 768px) {
            font-size: 155px;
            line-height: 113px;
        }

        @media (max-width: 620px) {
            font-size: 151px;
            line-height: 110px;
        }

        @media (max-width: 500px) {
            font-size: 120px;
            line-height: 90px;
        }

        @media (max-width: 380px) {
            font-size: 110px;
            line-height: 80px;
            margin-bottom: 45px;
        }
    }

    @media (max-width: 1200px) {
        //  margin-top: 100px;
    }

    @media (max-width: 620px) {
        //  margin-top: 100px;
    }

    @media (max-width: 380px) {
        //  margin-top: -85px;
        margin-bottom: 30px;
    }
}

.error__text {
    & p {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 35px;
        line-height: 43px;
        letter-spacing: 0px;
        color: #3B3B3B;
        margin-left: 5px;

        @media (max-width: 1024px) {
            line-height: 30px;
            font-size: 28px;
        }

        @media(max-width: 768px) {
            line-height: 24px;
            font-size: 22px;
        }

        @media (max-width: 620px) {
            font-size: 25px;
            line-height: 1;
        }

        @media (max-width: 500px) {
            font-size: 18px;
        }

        @media (max-width: 380px) {
            font-size: 14px;
            letter-spacing: 0;
            margin-left: 0;
        }
    }
}

.b-container--bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}