.b-events-content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1100px) {
        flex-direction: column;
    }
}

.b-events__title {
    padding-bottom: 40px;


    & h1 {
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        font-size: 35px;
        line-height: 42px;

        color: #3B3B3B;
        text-align: left;

        @media (max-width: 620px) {
            font-size: 28px;
            line-height: 32px;
        }
    }

    & h2 {
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;

        color: #3B3B3B;
        text-align: left;

        @media (max-width: 620px) {
            font-size: 24px;
            line-height: 29px;
            letter-spacing: -0.2px;
        }
    }

    @media (max-width: 600px) {
        padding-bottom: 25px;
    }
}

.b-events-left {
    position: relative;
    margin-right: 7.5px;
    height: 516px;

    @media(max-width: 1235px) {
        max-width: 555px;
        width: 100%;
    }

    @media(max-width: 1100px) {
        max-width: 100%;
        height: 375px;
        margin-bottom: 30px;
    }

    @media(max-width: 620px) {
        height: 280px;
        margin-bottom: 15px;
    }

    @media(max-width: 500px) {
        height: 230px;
    }

    &:after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 83.78%);
        margin: auto;
        border-radius: 8px;
    }



    & img {
        min-width: 720px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;

        @media (max-width: 1235px) {
            width: 100%;
            max-width: initial;
            min-width: 100%;
        }

        @media (max-width: 1100px) {
            margin-bottom: 30px;
            margin-right: 0;
        }

        @media (max-width: 600px) {
            margin-bottom: 23px;
        }

        // @media (max-width: 850px) {
        //     height: 500px;
        // }

        // @media (max-width: 750px) {
        //     min-width: auto;
        // }

        // @media (max-width: 600px) {
        //     height: 230px;
        // }
    }

    &__caption {
        position: absolute;
        // background: linear-gradient(360deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 83.78%);
        border-radius: 8px;
        bottom: 0;
        width: 100%;
        height: auto;
        //padding-top: 50%;
        z-index: 1;
        padding: 0 30px 29px;

        & span {
            //padding: 0 30px 0;
            display: flex;
            align-items: center;

            & p {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                margin-top: 0;
                line-height: 160%;
                letter-spacing: -0.01em;
                color: #FFFFFF;
                padding: 0 7px 0px;
                padding-bottom: 0;

                margin-bottom: 0;


                @media (max-width: 620px) {
                    padding: 0 8px;
                    font-size: 14px;
                    line-height: 10px;
                    letter-spacing: 0.3px;
                }

                // @media (max-width: 520px) {
                //     font-size: 14px;
                //     padding: 0 7px 0px;
                // }

                // @media (max-width: 400px) {
                //     padding: 0 10px 0;
                //     font-size: 12px;
                // }
            }

            & svg {
                position: relative;
                //top: 5.5px;
                width: 17px;
                height: 15px;

                @media (max-width: 620px) {
                    //  top: 2px;
                    width: 13px;
                    height: 13px;
                }

                @media (max-width: 520px) {
                    //  top: 2px;
                }
            }

            @media (max-width: 1100px) {
                //  padding: 0 20px 5px;
            }

            @media (max-width: 520px) {
                //padding: 0 10px 5px;
            }
        }

        & p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            margin-top: 7px;
            line-height: 30px;
            letter-spacing: -0.01em;
            color: #FFFFFF;
            //@debug padding: 0 30px 29px;

            @media (max-width: 1100px) {
                //  padding: 0 20px 20px;
            }

            @media (max-width: 620px) {
                font-size: 14px;
                line-height: 22px;
                margin-top: 12px;
            }

            @media (max-width: 520px) {
                // font-size: 16px;
                //  padding: 0 10px 5px;
            }

            @media (max-width: 450px) {
                // font-size: 12px;
                //   padding: 0 10px 10px;
                //   font-weight: 400;
            }
        }

        // @media (max-width: 1235px) {
        //     padding: 0 20px 17px;
        // }

        // @media (max-width: 850px) {
        //     //padding-top: 35%;
        // }

        @media (max-width: 620px) {
            padding: 0 20px 13px;
        }
    }


}

.b-events-right {
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-left: 7.5px;

    &-inner {
        padding: 29px 20px 0;

        @media(max-width: 620px) {
            padding: 14px 20px 5px;
        }

        // @media (max-width: 520px) {
        //     padding: 20px 10px;
        // }

        // @media (max-width: 450px) {
        //     padding: 10px 10px 5px;
        // }
    }

    &__item {
        position: relative;
        padding-bottom: 20px;
        // margin-bottom: 15px;

        @media(max-width: 620px) {
            padding-bottom: 10px;
        }

        &:not(:first-child) {
            margin-top: 24px;

            @media(max-width: 620px) {
                margin-top: 15px;
            }
        }

        & a {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;

            line-height: 160%;
            letter-spacing: -0.01em;
            color: #3B3B3B;

            display: block;
            margin-top: 17px;

            &:hover {
                text-decoration: none;
                color: $birus;
            }

            @media (max-width: 620px) {
                margin-top: 10px;
            }

            @media (max-width: 520px) {
                font-size: 14px;
            }
        }

        & div {
            display: flex;
            align-items: center;
            // margin-top: 25px;
            // padding-bottom: 22px;

            @media (max-width: 620px) {
                align-items: flex-end;
                // margin-top: 13px;
            }

            & svg {
                position: relative;
                //top: 3px;
                margin-right: 8px;

                @media (max-width: 620px) {
                    // top: 1px;
                    width: 11px;
                    height: 11px;
                    margin-right: 5px;
                }
            }
        }

        & p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;

            line-height: 12px;
            letter-spacing: -0.01em;
            color: $birus;

            @media(max-width: 620px) {
                font-size: 11px;
                line-height: 9px;
            }

            @media(max-width: 520px) {
                // line-height: 16px;
            }
        }

        &::after {
            content: "";
            width: 100%;
            height: 2px;
            background: #E8EAEC;

            position: absolute;
            bottom: 0;
            left: 0;
        }

        &:last-child {
            margin-bottom: 0;

            &::after {
                content: none;
            }
        }

        // @media (max-width: 620px) {
        //     margin-bottom: 13px;
        // }
    }

    @media (max-width: 1100px) {
        margin-left: 0;
    }
}