footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    & .d-flex {

        @media (max-width: 768px) {
            display: block !important;
        }
    }

    .b-container {
        @media(max-width: 1024px) {
            padding-bottom: 0;
        }
    }

    @media (max-width: 768px) {
        margin-top: 70px;
    }
}

.b-footer {
    flex-direction: column;
    padding: 47px 0 33px;

    @media(max-width: 1024px) {
        justify-content: space-between;
        padding: 30px 0 28px;
    }

    @media(max-width: 768px) {
        padding: 40px 0 28px;
    }

    &__partner {
        max-width: 158px;
        height: 63px;

        @media(max-width: 1024px) {
            max-width: 150px;
            width: 100%;
        }

        @media(max-width: 882px) {
            max-width: 120px;
            width: 100%;
            height: 47px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &:last-child {
            padding-top: 5px;
        }

        &:first-child {
            @media(max-width: 768px) {
                margin-right: 5px;
            }
        }
    }

    &__top,
    &__bottom {
        display: flex;
        width: 100%;
    }

    &__top {
        display: flex;
        justify-content: space-between;

        @media(max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__bottom {
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #A9A9A9;
        justify-content: space-between;
        margin-top: 26px;
        padding-top: 29px;


        @media(max-width: 1024px) {
            padding-top: 30px;
            margin-top: 44px;
        }

        @media(max-width: 882px) {
            margin-top: 30px;
        }

        @media(max-width: 768px) {
            padding-top: 26px;
            margin-top: 31px;
        }

    }

    &__cover {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 25px auto 0;

        @media(max-width: 1024px) {
            max-width: 815px;
        }

        @media(max-width: 768px) {
            flex-direction: column;
            align-items: center;
            margin: 22px auto 0;
        }
    }

    &__grp {
        display: flex;
        justify-content: space-between;
        max-width: 545px;
        width: 100%;
        margin-right: 45px;
    }

    &__link {
        color: white;
        font-size: 12px;
        transition: all 0.2s linear 0s;
        letter-spacing: -.2px;

        &:nth-child(2) {
            margin-left: 88px;

            @media(max-width: 1235px) {
                margin-left: 0;
            }
        }

        &:nth-child(3) {
            margin-right: 77px;

            @media(max-width: 1235px) {
                margin-right: 0;
            }
        }

        &:nth-child(4) {
            margin-right: 54px;

            @media(max-width: 1235px) {
                margin-right: 0;
            }
        }

        &:hover {
            color: white;
            text-decoration: none;
            opacity: .6;
        }


        @media(max-width: 1024px) {
            font-size: 10px;
        }

        @media(max-width: 768px) {
            font-size: 12px;
        }

        &:not(:first-child) {
            @media(max-width: 768px) {
                margin-top: 9px;
            }
        }
    }

    &__soc {
        margin-left: auto;

        @media(max-width:768px) {
            margin-left: initial;
            margin-top: 0px;
        }
    }


    &__txt {
        max-width: 150px;
        width: 100%;
        font-size: 12px;
        line-height: 16px;
        color: white;
        letter-spacing: -.4px;

        @media(max-width: 1024px) {
            font-size: 10px;
            line-height: 14px;
        }

        @media(max-width:768px) {
            display: none;
        }
    }

    &__bloc {
        transition: linear .2s;
        width: 31px;
        height: 31px;

        .in {
            transition: linear .2s;
            fill: white;
        }

        svg ellipse {
            transition: linear .2s;
            fill: transparent;
        }

        &:not(:last-child) {
            margin-right: 14px;

            @media(max-width: 1024px) {
                // margin-right: 22px;
            }

            @media(max-width: 768px) {
                margin-right: 23px;
            }
        }

        &:hover .in {
            fill: #353942;
        }

        &:hover ellipse {
            fill: white;
        }


        @media(max-width: 1024px) {
            width: 21px;
            height: 21px;

            svg {
                height: 100%;
                width: 100%;
            }
        }

        @media(max-width: 768px) {
            width: 29px;
            height: 29px;
        }

        svg {
            height: 100%;
            width: 100%;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        margin-top: 15px;

        @media(max-width: 1024px) {
            margin-top: 7px;
        }

        @media(max-width: 768px) {
            margin-top: 0px;
        }
    }

    &__box {
        width: 100%;
        max-width: 495px;
        margin-right: 51px;

        @media(max-width: 1235px) {
            max-width: 470px;
            margin-right: 0px;
        }

        @media(max-width: 1024px) {
            max-width: 405px;
        }

        @media(max-width: 768px) {
            margin-top: 15px;
        }
    }

    &__grid {
        display: flex;
        margin-right: 7px;
        padding-top: 8px;

        @media(max-width: 1024px) {
            margin-top: 0;
        }

        @media(max-width: 768px) {
            padding-right: 0;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            margin-right: 0;
            padding-top: 0;
        }
    }

    &__partners {
        max-width: 411px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        padding-right: 15px;
        margin-right: 93px;

        @media(max-width: 1235px) {
            max-width: 348px;
        }


        @media(max-width: 1024px) {
            margin-top: 0;
            max-width: 365px;
            margin-right: 0;
        }

        @media(max-width: 882px) {
            max-width: 270px;
        }

        @media(max-width: 768px) {
            margin-right: 0;
            padding-right: 0;
            max-width: 263px;
        }
    }

    &__items {
        display: flex;
        max-width: 100%;
        width: 100%;
        justify-content: space-between;

        @media(max-width: 1024px) {
            margin-right: auto;
        }

        @media(max-width: 882px) {
            margin-left: auto;
            max-width: 100%;
        }

        @media(max-width: 768px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__group {
        display: inline-flex;
        flex-direction: column;

        @media(max-width: 600px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__item {
        position: relative;
        display: inline-block;
        align-self: flex-start;
        color: white;
        font-family: "Montserrat";
        font-size: 14px;
        line-height: 34px;
        font-weight: 400;
        letter-spacing: -.3px;

        @media(max-width: 768px) {
            line-height: 34px;
            align-self: center;
            display: inline-block;
        }

        &:after {
            position: absolute;
            content: "";
            width: 0%;
            background-color: white;
            height: 1px;
            bottom: 2px;
            left: 0;
            right: 0;
            top: auto;
            transition: all 0.3s linear 0s;

            @media(max-width: 767px) {
                bottom: 7px;
                margin: auto;

                transition: all 0.2s linear 0s;
            }
        }

        &:hover {
            color: white;
            text-decoration: none;

            &:after {
                width: 100%;
            }
        }

        &--active {
            &:after {
                width: 100%;
            }
        }
    }
}

.b-footer__logo {
    display: block;
    text-align: left;
    cursor: pointer;
    max-width: 187px;
    height: 72px;
    width: 100%;
    margin-right: 4px;
    margin-left: -4px;
    margin-top: 2px;

    & svg {
        width: 100%;
        height: 100%;
        fill: #ffffff;
    }

    @media(max-width: 1235px) {
        margin-right: 0;
    }

    @media (max-width: 1024px) {
        margin-left: -3px;
        margin-top: -1px;
    }

    @media (max-width: 882px) {
        max-width: 140px;
        height: 60px;
    }

    @media (max-width: 768px) {
        margin-right: 0px;
        max-width: 154px;
    }
}

.b-footer-nav {
    width: 700px;
    text-align: center;

    & a {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        color: #FFFFFF;
        margin-right: 60px;
        transition: ease .3s;
        position: relative;

        &:hover {
            text-decoration: none;
            color: #FFFFFF !important;

            &::after {
                content: "";
                width: 100%;
                height: 1px;
                position: absolute;

                bottom: 0;
                left: 0;
                background: #FFFFFF;
            }
        }

        @media (max-width: 1024px) {
            margin-right: 0;
        }
    }

    & li {
        list-style-type: none;
        margin-bottom: 10px;

        &:nth-child(3) {
            margin-left: 84px;
        }

        &:nth-child(2) {
            margin-left: 4px;
        }

        @media (max-width: 1024px) {
            &:nth-child(2) {
                margin-left: 0;
            }

            &:nth-child(3) {
                margin-left: 0;
            }
        }
    }

    @media (max-width: 1024px) {
        width: 100%;
        padding-top: 0;
        padding-bottom: 30px;
    }

    @media (max-width: 800px) {
        padding-bottom: 15px;
    }
}