.navbar {
    background: $birus;
    justify-content: start !important;
    padding: 0;
    margin-right: 0;
    margin-left: 0;

    &-header {
        padding: 0 20px;
    }

    @media (max-width: 1024px) {
        display: none !important;
    }

    .b-container {
        padding-top: initial;
        padding-bottom: initial;
        padding: 15px 20px 20px;
    }

    .navbar-header {
        padding: initial;

        .navbar-nav li {
            margin: initial;
        }
    }
}

#navbarSupportedContent .navbar-nav {
    justify-content: start !important;

    & .nav-item {
        margin-right: 64px;

        & a {
            font-family: Montserrat;
            font-weight: 500;
            line-height: 17px;
            font-size: 14px;

            transition: linear .2s;

            @media (max-width: 1217px) {
                font-size: 14px;
            }
        }

        &:last-child {
            margin: 0;
        }

        @media (max-width: 1225px) {
            margin-right: 30px;
        }

        @media (max-width: 1050px) {
            margin-right: 10px;
        }
    }

    @media (max-width: 1225px) {
        justify-content: space-between !important;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background: #FFFFFF;


    .b-container {
        padding-top: 15px;
        padding-bottom: 15px;

        @media(max-width: 620px) {
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }


    & .row {
        @media (max-width: 1200px) {
            flex-wrap: nowrap;
        }
    }

    & .nav-item {
        & a {
            color: #FFFFFF !important;
            position: relative;
            transition: ease .3s;

            &::after {
                content: "";
                width: 0%;
                height: 1px;
                position: absolute;
                top: auto;
                bottom: 0;
                left: 0;
                right: 0;
                background: #FFFFFF;
                transition: ease .3s;
                margin: auto;
            }

            &:hover {
                color: #FFFFFF !important;

                &:after {
                    width: 100%;
                }
            }
        }
    }

    & .col-lg-2 {
        @media (max-width: 1024px) {
            width: 28%;
        }
    }

    & .navbar {
        margin-bottom: -1px;
    }

    & .nav-link {
        padding: .5rem 1rem .25rem;
    }

    @media (max-width: 1024px) {
        background: #FFFFFF;
    }
}

.b-header {
    margin-bottom: 0;
    padding-bottom: 0;
    margin: 0;

    &__logo {
        display: block;
        text-align: left;
        cursor: pointer;
        max-width: 180px;
        height: 58px;
        width: 100%;

        @media(max-width: 1024px) {
            max-width: 140px;
            height: 45px;
            width: 100%;
        }

        @media(max-width: 620px) {
            max-width: 125px;
            height: 38px;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }
}

.b-container--navbar {
    & .navbar-nav {
        width: 100%;
        justify-content: space-between;

        @media (max-width: 1200px) {
            & .my-2 {
                margin: 0;
            }
        }
    }

    & .nav-item {
        margin: 0 !important;
    }
}

.b-header-account {

    @media(max-width: 1024px) {
        width: 30px;
        background-color: red;
    }

    &__logout {
        display: block;
        width: 19px;
        height: 19px;

        & svg {
            cursor: pointer;
            // object-fit: cover;
            display: block;
            width: 100%;
            height: 100%;

            & g {
                fill: $birus;
            }
        }
    }

    &__menu {
        display: flex;
        position: relative;

        & .account-btn {
            font-family: Montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            text-align: right;
            color: #3B3B3B;
            margin-bottom: 0;
            margin-right: 10px;

            &--logout {
                font-weight: 500;
                font-size: 14px;
                letter-spacing: .1px;
                line-height: 14px;
            }
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }
}

.nav-link--active {
    & a {
        &::after {
            width: 100% !important;
        }
    }
}

.navbar-expand-lg .navbar-nav .nav-link {
    letter-spacing: 0.1px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.header-section {
    position: fixed;
    bottom: 0;
    left: auto;
    top: 0;
    right: 0;
    overflow: auto;
    opacity: 0;
    -webkit-transition: .2s .1s linear;
    -o-transition: .2s .1s linear;
    transition: .2s .1s linear;
    zoom: 1;
    z-index: 710;
    visibility: hidden;
    width: 100%;
    max-width: 100%;

    &--active {
        width: 100%;
        max-width: 100%;
        background: rgba(0, 0, 0, .5);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000);
        opacity: 1;
        visibility: visible;

        .header-section__wrapper {
            -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
            opacity: 1;
            visibility: visible;
        }
    }

    &__inner {
        position: relative;
        padding: 10px 15px 100px;

        @media(max-width: 620px) {
            padding-top: 12px;
        }
    }

    &__list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 67px;

        @media(max-width: 620px) {
            margin-top: 46px;
        }

        @media(max-width: 500px) {
            align-items: flex-start;
        }

        .b-header-account {
            @media(max-width: 1024px) {
                width: auto;
                background-color: transparent;
            }
        }

        .b-header-account__menu {
            @media(max-width: 1024px) {
                display: flex;
            }

            a {
                @media(max-width: 1024px) {
                    width: 18px;
                    height: 18px
                }
            }

            p {
                @media(max-width: 1024px) {
                    color: $birus;
                    margin-right: 7px;
                    line-height: 18px;
                }
            }
        }

    }

    &__item {
        font-size: 14px;
        line-height: 17px;
        color: #262632;
        font-weight: 600;
        transition: all 0.2s linear 0s;
        text-decoration: none;
        opacity: 0;

        &:hover {
            color: $birus;
            text-decoration: none;
        }

        &:not(:first-child) {
            margin-top: 35px;
        }

        @media(max-width: 620px) {
            font-size: 16px;
            line-height: 19px;
        }

        &--active {
            color: $birus;
        }
    }

    &__wrapper {
        width: 100%;
        background-color: #fff;
        position: absolute;
        -webkit-transition: .4s .1s linear;
        -o-transition: .4s .1s linear;
        transition: .4s .1s linear;
        right: 0;
        opacity: 0;
        visibility: hidden;
        width: 61vw;
        max-width: 464px;
        min-height: 100vh;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);

        @media(max-width: 620px) {
            width: 100vh;
            max-width: 100%;
        }
    }

    &__logo {
        display: block;
        cursor: pointer;
        max-width: 180px;
        height: 58px;
        width: 100%;

        @media(max-width: 1024px) {
            max-width: 140px;
            height: 45px;
            width: 100%;
        }

        @media(max-width: 620px) {
            max-width: 125px;
            height: 38px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__close {
        transform-origin: center;
        position: relative;
        width: 25px;
        height: 25px;
        transform-origin: center;
        cursor: pointer;

        &:hover {
            transform: rotate(180deg);
            transition: .3s;
        }

        &:before,
        &:after {
            position: absolute;
            content: "";
            height: 100%;
            width: 2px;
            background-color: $birus;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        &:before {
            transform: rotate(-45deg);
        }

        &:after {
            transform: rotate(45deg);
        }

        @media(max-width: 620px) {
            width: 19px;
            height: 19px;
        }
    }
}

.header {
    position: relative;
    min-height: 136px;

    @media(max-width: 1024px) {
        min-height: 70px;
    }

    @media(max-width: 620px) {
        min-height: 62px;
    }

    &__inner {
        min-height: 136px;
        background-color: #fff;
        transition: .2s linear;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);

        @media(max-width: 1024px) {
            min-height: 70px;
        }

        @media(max-width: 620px) {
            min-height: 62px;
        }
    }
}