.bd-example {
    margin-top: 0px;
    position: relative;

    &::after {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
    }

    @media (max-width: 1024px) {
        margin-top: 0px;
    }
}

.carousel-caption {
    width: 60%;
    margin: auto;
    top: 52%;
    transform: translate(0, -52%);

    @media (max-width: 1300px) {
        width: 70%;
    }

    @media (max-width: 1024px) {
        top: 50%;
        transform: translate(0, -50%);
    }

    @media (max-width: 800px) {
        top: 45%;
        transform: translate(0, -45%);
    }

    @media (max-width: 620px) {
        top: 40%;
        transform: translate(0, -40%);
        width: 100%;
        margin-left: -15%;
    }

    @media (max-width: 443px) {
        top: 30%;
        transform: translate(0, -30%);
        width: 100%;
        margin-left: -15%;
    }

    @media (max-width: 400px) {
        top: 35%;
        transform: translate(0, -35%);
        width: 100%;
        margin-left: -15%;
    }

    & h3 {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 3.125rem;
        line-height: 3.8125rem;

        text-align: center;
        color: #FFFFFF;

        @media (max-width: 1024px) {
            font-size: 2.1875rem;
        }

        @media (max-width: 620px) {
            padding: 0 10px;
        }

        @media (max-width: 500px) {
            line-height: 1;
            font-size: 1.875rem;
        }
    }

    & p {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 1rem;
        line-height: 160%;

        text-align: center;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        margin-top: 20px;

        @media (max-width: 620px) {
            padding: 0 10px;
        }

        @media (max-width: 500px) {
            font-size: 1rem;
            line-height: 165%;
        }
    }
}

.carousel-indicators {
    bottom: 40px !important;

    & li {
        width: 40px !important;
    }

    @media (max-width: 400px) {
        margin-bottom: 0;
    }
}

.carousel-inner {
    height: 505px;
}

.carousel-item {
    height: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.carousel-control-prev,
.carousel-control-next {

    &-icon {
        width: 20px !important;
        height: 30px !important;
    }

    @media (max-width: 1024px) {
        display: none !important;
    }
}

.carousel-control-next-icon {
    background-image: url(../img/next.png) !important;
}

.carousel-control-prev-icon {
    background-image: url(../img/prev.png) !important;
}