.login {
    margin-top: 22px;

    @media (max-width: 620px) {
        margin-top: 40px;
    }

    .b-news__button {
        margin-top: 0;

        button {
            padding: 14px 22px 14px;
        }
    }
}

.b-login {
    margin-bottom: 43px;

    @media(max-width: 620px) {
        margin-bottom: 38px;
    }

    & .form-control {
        height: 50px;
        color: #BEBEBE;
    }

    &__title {
        text-align: center;
        margin-bottom: 27px;

        @media (max-width: 620px) {
            margin-bottom: 16px;
        }

        h1 {
            font-family: Montserrat, sans-serif;
            font-weight: 600;
            font-size: 35px;
            line-height: 42px;
            color: #3B3B3B;
            text-align: center;

            @media (max-width: 620px) {
                font-size: 28px;
                line-height: 32px;
            }
        }
    }

    .form-group {
        font-size: 14px;
        margin-bottom: 0;

        &:not(:last-child) {
            margin-bottom: 26px;
        }

        input {
            padding: 13px;
            height: 42px;

            &::placeholder {
                font-size: 14px;
            }
        }
    }
}

.b-login__forgotten {
    margin-top: 20px;
    text-align: center;

    & a {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;

        text-align: center;
        color: #BEBEBE;
        transition: all ease .3s;

        &:hover {
            text-decoration: none;
            color: $birus;
        }
    }
}

.b-login__tel {
    margin-top: 70px;
    display: flex;

    @media(max-width: 620px) {
        margin-top: 35px;
    }

    & p,
    & a {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        text-align: center;
        color: #3B3B3B;

        @media(max-width: 620px) {
            font-size: 12px;
            line-height: 15px;
        }
    }

    & a {
        transition: all ease .3s;

        &:hover {
            text-decoration: none;
            color: $birus;
        }
    }
}

.b-reception__button {
    & button {
        width: 100% !important;
    }
}