.b-manual {
    margin: 0;
    margin-top: 50px;

    @media (max-width: 1024px) {
        margin-top: 25px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }

    @media (max-width: 600px) {
        margin-top: 25px;
    }

    &-accordion {
        margin-top: 20px;
        max-width: 974px;
        width: 100%;
    }

    &__social-list {

        & a {
            width: 22px;
            height: 22px;
            display: inline-block;

            & img {
                height: 100%;
                width: auto;
                vertical-align: baseline;
            }

            & + a {
                margin-left: 5px;
            }
        }
    }

    &__text {
        & div {
            & p {
                @media (max-width: 600px) {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
    }

    &__title {
        margin-bottom: 0px !important;

        & h1 {
            font-family: Montserrat, sans-serif;
            font-weight: 600;
            font-size: 35px;
            line-height: 42px;

            color: #3B3B3B;
            text-align: left;

            @media (max-width: 620px) {
                font-size: 28px;
                line-height: 32px;
            }
        }
    }

    &__form {
        max-width: 282px;
        width: 100%;
        padding: 0;
        height: 43px;

        @media(max-width: 1024px) {
            height: 37px;
        }

        @media(max-width: 768px) {
            margin-top: 30px;
        }

        @media(max-width: 500px) {
            max-width: 100%;
        }
    }

    &__article {
        padding: 0;
        max-width: 433px;
        width: 100%;
    }

    &--contact {
        @media(max-width: 620px) {
            margin-top: 13px;
        }
    }

    &__wrapper {

        // margin: 22px 0 0;
        .b-selectedNews__text {
            margin: 22px 0 0;
            max-width: 900px;

            div {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }

            @media(max-width: 620px) {
                margin: 15px 0 0;
            }
        }

        h2 {
            font-family: Montserrat, sans-serif;
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            letter-spacing: -0.2px;
            color: #3B3B3B;
            text-align: left;

            @media (max-width: 620px) {
                font-size: 24px;
                line-height: 29px;
            }
        }
    }
}

.b-manual__search {
    position: relative;
    width: auto;

    @media(max-width: 1024px) {
        margin: 0px 0px !important;
        height: 100%;
    }

    & input {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #BEBEBE;
        height: auto;
        padding: 12px 0 12px 15px;
        border: 1px solid #D3D3D3;
        border-radius: 4px;
        outline: none;
        width: 100%;
        background: #FFFFFF;
        text-align: left;
        transition: all ease .3s;

        @media(max-width: 620px) {
            font-size: 12px;
            padding-left: 18px;
        }
    }

    & button {
        background: rgba(211, 211, 211, .4);
        border: none;
        height: 100%;
        width: 3rem;

        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;

        outline: none;
        border-radius: 3px;

        &::before {
            content: '';
            background-image: url(../img/search.png);
            font-size: 16px;
            color: #f9f0da;
            height: 14px;
            width: 14px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            background-size: contain;
            background-repeat: no-repeat;

            @media(max-width: 500px) {
                height: 11px;
                width: 11px;
            }
        }

        @media(max-width: 500px) {
            background-color: transparent;
        }
    }

    & .mr-sm-2 {
        margin-right: 0 !important;
    }
}

.b-manual-table {
    margin-top: 6px;
    margin: 0;
    margin-top: 33px;

    & .row {
        // margin: 0 -30px 0;
        margin: 0;

        &>div {
            padding: 0;
        }
    }

    & table {
        margin-bottom: 0;
        min-width: 1240px;
        width: 100%;

        // @media (max-width: 950px) {
        //     min-width: 950px;
        //     width: 100%;
        // }
    }

    & td {
        height: 40px;
        text-align: left;
        font-family: Montserrat;
        font-weight: 500;
        // width: 21%;
        font-size: 14px;
        line-height: 17px;
        color: #3B3B3B;
        vertical-align: middle !important;

        padding: .55rem 1.25rem !important;
    }

    & td {

        &:nth-child(2),
        &:nth-child(3) {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 211px;

        }
    }

    & th {
        background: #E8EAEC;
        height: 40px;
        text-align: left;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #3B3B3B;
        vertical-align: middle;
        width: 21%;

        &:nth-child(1) {
            width: 33%;
            // width: 366px;
            // min-width: 366px;

            // @media(max-width: 1024px) {
            //     min-width: 290px;
            // }
        }

        // &:nth-child(2) {
        //     width: 247px;
        //     min-width: 247px;
        // }

        // &:nth-child(3) {
        //     width: 190px;
        //     min-width: 190px;
        // }

        // &:nth-child(4) {
        //     width: 236px;
        //     min-width: 236px;
        // }

        // &:nth-child(5) {
        //     width: 214px;
        //     min-width: 214px;
        // }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            width: 17%;
        }

        &:nth-child(5) {
            width: 22%;
        }

        &:nth-child(2),
        &:nth-child(3) {
            max-width: 204px;
        }
    }



    & .avatar {
        text-align: center;

        & img {
            width: 31px;
            height: 31px;
            float: left;
            margin-right: 10px;

            object-fit: cover;
        }

        & a {
            float: left;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 14px;
            line-height: 34px;
            color: #3B3B3B;
            margin-bottom: 0;
            text-decoration: none;
            transition: all ease .3s;
            // max-width: 180px;
            // width: 100%;

            &:hover {
                color: $birus;
            }
        }
    }

    & .th-active {
        padding: 0 !important;
        position: relative;
        transition: .3s linear;

        & svg {
            width: 8px;
            height: 7px;
            position: absolute;
            top: 0;
            right: 21px;
            bottom: 2px;
            margin: auto;
            cursor: pointer;
            transition: .3s linear;
        }

        &--show {
            & svg {
                transform: rotate(180deg) !important;
                fill: #FFFFFF;
            }

            & .btn-table {
                color: #FFFFFF;
                background: $birus;
            }

            & .dropdown-table__menu {
                display: flex;
                opacity: 1;
                visibility: visible;
            }
        }

        &:hover {
            background: $birus;
            color: #FFFFFF;

            & .btn {
                color: #FFFFFF;
            }

            & svg {
                fill: #FFFFFF;
            }
        }


        .btn-table {
            transition: .3s linear;
        }
    }


    @media (max-width: 1300px) {
        width: 100%;
        overflow-y: hidden;
    }

    @media (max-width: 1024px) {
        margin-top: 31px;
    }


}

.table-bordered {
    border: 2px solid #E8EAEC !important;

    & th {
        border-right: 2px solid #FFFFFF !important;
        height: auto;
        border-collapse: collapse;

        &:last-child {
            border-right: 2px solid #E8EAEC !important;
        }
    }

    & td {
        border: 2px solid #E8EAEC !important;

        & img {
            border-radius: 50%;
        }
    }
}

.table {
    & th {
        padding: 0 1.25rem !important;
    }

    & thead {
        & th {
            padding: 19px 18px!important;
            vertical-align: middle !important;
        }
    }

    & tbody {
        & td {
            & a {
                font-family: Montserrat;
                font-weight: 500;
                font-size: 14px;
                line-height: 37px;

                color: #3B3B3B;
                margin-bottom: 0;
                text-decoration: none;

                &:hover {
                    color: $birus;
                }
            }
        }
    }
}

.btn-table {
    background: inherit;
    text-align: left;
    font-family: Montserrat;
    font-weight: 600;

    font-size: 16px;
    line-height: 20px;
    color: #3B3B3B;
    border: none;

    padding: 0;
    position: relative;
    padding: 19px 18px !important;
    transition: linear .3s;


    &:focus {
        box-shadow: none;
    }

    &:hover {
        color: #FFFFFF;
    }
}

.dropdown-table {
    position: relative;

    & svg {
        pointer-events: none;
    }

    &__menu {
        position: absolute;
        width: 155%;
        height: auto;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        transition: all ease .3s;
        padding: 8px 6px;
        min-height: 160px;
        max-height: 160px;
        height: auto;

        & a {
            display: block;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;

            line-height: 1;
            color: #3B3B3B;
            padding: 15px 14px 15px;
            text-align: left;

            &:not(:first-child) {
                margin-top: 2px;
            }

            &:hover {
                text-decoration: none;
                color: $birus;
                background: rgba(59, 59, 59, .2);
            }
        }

        &--show {
            display: flex;
        }

        .mCSB_inside>.mCSB_container {
            margin-right: 0;
        }

        .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
            background-color:
                $birus !important;
        }

        .mCSB_scrollTools,
        .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
        .mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
        .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail,
        .mCS-light-3.mCSB_scrollTools .mCSB_draggerRail {
            width: 4px !important;
        }
    }

    .btn-table {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 38px !important;
    }
}