.news {
    padding: 40px 0 100px;

    // @media(max-width: 1024px) {
    //     padding: 40px 0 55px;
    // }

    @media(max-width: 1024px) {
        padding: 25px 0 55px;
    }

    & .row {
        margin-left: 0;
        margin-right: 0;
    }

    &--page {
        padding: 52px 0 100px;
        padding-bottom: 0;

        .b-news-navbar {
            padding: 15px 0 0px !important;
        }

        .b-container {
            @media(max-width: 620px) {
                padding-bottom: 0px;
            }
        }

        @media(max-width: 620px) {
            padding: 12px 0 0px !important;
        }
    }

    @media(max-width: 1024px) {
        padding: 25px 0 40px;
    }

    @media(max-width: 768px) {
        padding: 15px 0 40px;
    }

    // @media (max-width: 500px) {
    //     padding-top: 30px;
    //     padding-bottom: 60px;
    // }
}

.b-news__title {
    & h1 {
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        font-size: 35px;
        line-height: 42px;

        color: #3B3B3B;
        text-align: left;

        @media (max-width: 620px) {
            font-size: 28px;
            line-height: 32px;
        }
    }

    & h2 {
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: -0.2px;
        color: #3B3B3B;
        text-align: left;

        @media (max-width: 620px) {
            font-size: 24px;
            line-height: 29px;
        }
    }
}

.b-news-navbar {
    background: #ffffff;
    padding: 1.7rem 0 0rem !important;
    display: block !important;

    & li {
        // margin: 0 5px !important;
    }

    & .form-control {
        background: #FFFFFF;
        border: 1px solid #D3D3D3;
        box-sizing: border-box;
        border-radius: 4px;

        @media (max-width: 620px) {
            width: 100% !important;
        }
    }

    & input {
        width: 256px !important;
        height: 43px;
        font-weight: 500;

        font-size: 0.875rem;
        line-height: 1.0625rem;
        color: #BEBEBE;
        text-align: left;
    }

    & .form-search {
        position: relative;

        @media (max-width: 620px) {
            width: 100%;
        }
    }

    & .form-inline {
        @media (max-width: 620px) {
            width: 100%;
        }
    }

    & svg {
        width: 15px;
        height: 15px;
        position: absolute;
        right: 1.5rem;

        top: 0.8rem;

        @media (max-width: 1024px) {
            top: 1rem;
        }
    }

    & .navbar-nav {
        flex-direction: row;

        @media (max-width: 620px) {
            margin: 0;
        }

        @media (max-width: 600px) {
            width: 100%;
        }
    }

    & #navbarSupportedContent {
        display: flex;
        align-items: baseline;

        @media (max-width: 840px) {
            flex-direction: column;
        }

        @media (max-width: 620px) {
            align-items: flex-start;
        }
    }

    & .nav-item {

        display: inline-block;
        // &--none {
        //     @media (max-width: 992px) {
        //         display: none;
        //     }
        // }

        &:not(:last-child) {
            margin-right: 28px !important;

            @media (max-width: 992px) {
                margin-right: 20px !important;
            }

            @media (max-width: 500px) {
                margin-right: 28px !important;
            }
        }
    }
}

.nav-item {
    & a {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;

        color: #BEBEBE !important;
        transition: linear .3s;
        text-align: left;

        &:hover {
            color: $birus !important;
        }
    }

    &:first-child {
        margin-left: 0;
    }

    & .nav-links--active {
        color: $birus !important;
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;

            background: $birus;
            bottom: -1px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}

.b-news {
    & .row {
        @media (max-width: 768px) {
            justify-content: center;
        }

        @media (max-width: 620px) {
            margin-right: 0;
        }
    }

    & .d-flex {
        @media (max-width: 992px) {
            justify-content: space-between !important;
        }
    }

    & .col-sm-10 {
        padding-left: 0;
        padding-right: 0;
    }

    &-navbar {
        @media (max-width: 600px) {
            padding: 13px 0 0 !important;
        }

        & li {
            @media (max-width: 600px) {
                margin: 0 !important;
            }
        }
    }
}

#navbarSupportedContent {
    .navbar-nav .nav-item a {
        font-size: 14px;

        @media(max-width: 620px) {
            font-size: 12px;
        }
    }

    & .nav-link {
        padding: .5rem 1rem .25rem;
        letter-spacing: .1px;

        @media (max-width: 992px) {
            padding: 0 !important;
        }
    }
}

.b-news-content {
    margin-top: 25px;

    & .col-xl-3 {
        min-width: 31%;
        flex: 0 0 30%;
        padding: 0;

        @media (max-width: 1024px) {
            min-width: 31.5%;
            flex: 0 0 31.5%;
        }

        @media (max-width: 992px) {
            min-width: 48.5%;
            flex: 0 0 48.5%;
        }

        // @media (max-width: 829px) {
        //     min-width: 47%;
        //     flex: 0 0 40%;
        // }

        @media (max-width: 620px) {
            min-width: 100%;
            flex: 0 0 0.9;
        }
    }

    & .card {
        border-radius: .5rem;
        border: none;
    }

    @media (max-width: 600px) {
        margin-top: 30px;
    }
}

.b-news-content-item {
    margin-bottom: 45px;
    min-height: 445px;
    transition: all linear .3s;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);

    @media (max-width: 1024px) {
        margin-bottom: 30px;
    }

    @media (max-width: 992px) {
        min-height: initial;
    }

    @media (max-width: 620px) {
        min-height: 353px;
    }



    &:last-child {
        @media(max-width: 620px) {
            margin-bottom: 0;
        }
    }

    &:hover {
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    }

    &:nth-child(3n + 3) {
        margin-right: 0;
    }

    & a {
        text-decoration: none !important;
    }

    & .card-title {
        font-weight: 600;
        font-size: 18px;
        // line-height: 1.375rem;

        color: #3B3B3B;
        text-align: left;
        margin-bottom: 10px;
        margin-top: 20px;

        @media (max-width: 620px) {
            font-size: 16px;
        }
    }

    & .card-body {
        text-align: left;

        & span {
            font-weight: 500;
            font-size: 11px;
            line-height: 11px;

            @media (max-width: 620px) {
                font-size: 9px;
                line-height: 12px;
            }

            color: #A0A0A0;
        }

        @media (max-width: 600px) {
            padding: 0.75rem;
        }
    }

    & .card-subtext {
        display: flex;
        flex-wrap: wrap;

        & a {
            font-weight: 500;
            // font-size: 0.6875rem;
            // line-height: 0.8125rem;

            color: #A0A0A0;
            transition: ease .3s;
            text-align: left;
            position: relative;
            cursor: pointer;

            @media(max-width: 1024px) {
                display: block;
                margin-bottom: 5px;
            }

            @media(max-width: 620px) {
                display: inline-block;
                margin-bottom: 0;
            }

            &:hover {
                color: $birus;

                & p {
                    opacity: 1;
                    visibility: visible;
                    max-height: 100px;
                    height: auto;
                }
            }

            & p {
                font-style: normal;
                font-weight: normal;
                font-size: 10px;

                line-height: 12px;
                color: #3B3B3B;
                position: absolute;
                top: 1rem;

                left: 0;
                padding: 8px 6px 9px 7px;
                background: #FFFFFF;
                width: 100%;

                margin: 0;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                opacity: 0;
                visibility: hidden;

                max-height: 0;
                transition: all ease .3s;

                @media (max-width: 1024px) {
                    display: none;
                }
            }
        }

        & span {
            font-weight: 500;
            // font-size: 0.6875rem;
            // line-height: 0.8125rem;
            text-align: left;
        }


    }

    & .card-text {
        font-weight: normal;
        font-size: 14px;
        // line-height: 22px;
        line-height: 160%;

        letter-spacing: -0.01em;
        color: #3B3B3B;
        text-align: left;
        margin-bottom: 30px !important;

        @media (max-width: 620px) {
            font-size: 12px;
        }
    }

    &:hover {
        & .card-title {
            color: $birus;
        }
    }

    // @media (max-width: 992px) {
    //     margin-right: 20px !important;
    //     margin-left : 20px !important;
    // }

    @media (max-width: 500px) {
        margin-right: 0 !important;
        margin-left: 0 !important;
        min-width: 100% !important;
        margin-bottom: 30px;
    }
}

.b-news-content-item__inner {
    position: relative;

    & img {
        height: 204px;
        object-fit: cover;
        border-radius: 6px 6px 0px 0px;

        @media(max-width: 620px) {
            height: 165px;
        }

        @media(max-width: 500px) {
            height: 150px;
        }
    }
}

.b-news-content-item__tag {
    position: absolute;
    bottom: 0.8rem;
    left: 1.3rem;

    & span {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;

        color: #FFFFFF;
        background: rgba(0, 0, 0, 0.7);
        margin-right: 10px;
        padding: 5px;

        border-radius: 4px;
    }

    @media (max-width: 600px) {
        left: 0.75rem;
    }
}

.b-news__button {
    text-align: left;
    margin-top: 25px;

    & a,
    & button {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.25rem;

        text-align: center;
        color: #FFFFFF;
        padding: 16px 22px 18px 22px;
        background: $birus;

        border-radius: 4px;
        transition: linear .3s;
        border: 1px solid $birus;
        width: auto;

        &:hover {
            color: $birus;
            background: #FFFFFF;
            border: 1px solid $birus;
        }

        @media (max-width: 768px) {
            width: 40% !important;
        }

        @media (max-width: 620px) {
            width: 100% !important;
        }
    }

    &--width {
        & a {
            width: 100% !important;
            max-width: 284px;

            @media (max-width: 500px) {
                width: 100% !important;
                max-width: 100%;
            }
        }
    }

    @media (max-width: 768px) {
        text-align: left;
    }

    @media (max-width: 620px) {
        margin-top: 45px;
        text-align: left;
    }

    &--popup {
        max-width: 215px;
        width: 100%;
        margin: 0 auto;
        margin-top: 58px;

        a {
            display: block;

        }
    }

    a {
        @media(max-width: 620px) {
            font-size: 14px !important;
        }
    }
}

.b-news-dropdown {
    position: relative;

    & button {
        width: 100%;
        //min-width: 250px;
        height: auto;
        background: #FFFFFF;

        // padding: 14px 20px 14px 14px;
        min-width: 256px;
        padding: 13px 20px 13px 14px;
        border: 1px solid #D3D3D3;
        box-sizing: border-box;
        border-radius: 4px;

        text-align: left;
        font-style: normal;
        font-weight: 500;

        font-size: 14px;
        line-height: 17px;
        color: #BEBEBE;
        position: relative;

        @media (max-width: 620px) {
            min-width: auto;
        }
    }

    & i {
        color: #3B3B3B;
        position: absolute;
        right: 10%;
        top: 48%;

        transform: translate(0, -48%);
        transition: all ease .3s;

        @media (max-width: 620px) {
            right: 3%;
        }
    }

    & div {
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        border: 1px solid #D3D3D3;

        box-sizing: border-box;
        border-radius: 0px 0px 4px 4px;
        border-top: none;
        visibility: hidden;

        opacity: 0;
        max-height: 0;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: auto;

        padding: 5px 0;
        transition: all ease .3s;

        & a {
            text-decoration: none;
            padding: 10px 5px 10px 14px;
            color: #3B3B3B;
            font-size: 14px;

            &:hover {
                background: rgba(190, 190, 190, 0.25);
            }
        }
    }


    @media (max-width: 840px) {
        margin-top: 20px;
    }

    @media (max-width: 620px) {
        width: 100%;
    }

    &--active {
        & button {
            border-radius: 4px 4px 0px 0px;
        }

        & div {
            visibility: visible;
            opacity: 1;
            max-height: 150px;
        }

        & .fa-caret-down {
            transform: rotate(180deg);
            top: 35%;
        }
    }


}