.b-reception {
    margin-top: 51px;

    @media(max-width: 1024px) {
        margin-top: 25px;
    }

    &__title {
        margin-bottom: 36px;

        @media (max-width: 600px) {
            margin-bottom: 25px;
        }
    }

    @media (max-width: 600px) {
        margin-top: 25px;
    }

    &__wrapper {
        max-width: 580px;
        width: 100%;
    }
}

.b-reception-form {
    & label {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #3B3B3B;
        margin-bottom: 8px;

        @media(max-width: 620px) {
            margin-bottom: 10px;
        }
    }

    & input,
    & select {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #262632;
        height: 42px;
        margin-bottom: 27px;

        @media(max-width: 620px) {
            margin-bottom: 25px;
        }
    }

    & select {
        appearance: auto;
    }

    input::-webkit-input-placeholder,
    select::-webkit-input-placeholder {
        color: #BEBEBE;
    }

    & textarea {
        min-height: 150px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #262632;
        padding-top: 15px;
        resize: none;
        margin-bottom: 13px;

        @media(max-width: 620px) {
            min-height: 373px;
            margin-bottom: 10px;
        }
    }

    & .form-control {
        padding-left: 14px;

        @media (max-width: 1024px) {
            //width: 60%;
        }

        @media (max-width: 768px) {
            // width: 80%;
        }

        @media (max-width: 620px) {
            width: 100%;
        }
    }

    & svg {
        position: relative;
        top: 3px;
    }

    &__dropdown {
        position: relative;

        & input:disabled {
            padding: 0 0 0 14px;
            height: 42px;
        }

        &--active {
            & .b-reception-form__list {
                opacity: 1;
                visibility: visible;
            }

            & i {
                transform: rotate(180deg);
            }
        }

        & input:disabled {
            background: #ffffff;
            cursor: pointer;
        }

        & i {
            color: #3B3B3B;
            position: absolute;
            right: 20px;
            top: 14px;
            font-size: 12px;

            transition: all ease .3s;
            pointer-events: none;

            @media (max-width: 620px) {
                right: 15px;
            }
        }

        .form-control {
            padding-right: 20px;
            cursor: pointer;
        }
    }

    &__list {
        position: absolute;
        top: 41px;
        background: #ffffff;
        width: 100%;

        height: auto;
        padding: 1px 0 14px 15px;
        border: 1px solid #D3D3D3;
        box-sizing: border-box;

        border-radius: 4px;
        opacity: 0;
        visibility: hidden;
        transition: all ease .3s;

        & a {
            display: block;
            transition: all ease .3s;
            font-style: normal;
            font-weight: 500;

            font-size: 14px;
            line-height: 17px;
            color: #BEBEBE;
            margin-top: 10px;

            &:hover {
                text-decoration: none;
                color: $birus;
            }
        }
    }

    .form-group {
        &:not(:last-child) {
            margin-bottom: 9px;
        }

        textarea {
            min-height: 275px;
            margin-bottom: 13px;

            &:focus {
                color: #495057;
            }

            &::-webkit-input-placeholder {
                color: #BEBEBE;
            }
        }
    }
}

.b-reception__button {
    text-align: left;
    // margin-bottom: 100px;

    @media(max-width: 620px) {
        margin-top: 19px;
    }

    & a {
        width: 100% !important;

        @media (max-width: 1024px) {
            width: 40% !important;
        }

        @media (max-width: 768px) {
            width: 50% !important;
        }

        @media (max-width: 620px) {
            width: 100% !important;
            padding: 16px 22px 12px !important;
        }
    }

    & .btn {
        @media(max-width: 620px) {
            font-size: 14px;
        }
    }
}

.form-group__file {
    width: 250px;
    align-items: baseline;
    margin-bottom: 20px;

    & svg {
        width: 20px;
        height: 20px;
        margin-right: 2px;
    }

    & #formGroupExampleInput5 {
        display: none;
    }

    & label {
        cursor: pointer;
        border-radius: 3px;
        color: #3B3B3B;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 0;
        text-align: center;

        &:hover {
            text-decoration: underline;
        }
    }
}

.b-container--reption {
    position: relative;
    padding-bottom: 0;
}

.popup {
    display: none;

    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;

}

.b-popup {
    width: 510px;
    height: 500px;
    background: #ffffff;
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;

    border-radius: 5px;
    text-align: center;

    &-inner {
        width: 100%;
        height: 100%;
        padding: 56px 60px 62px 60px;

        // @media (max-width: 620px) {
        //     padding: 56px 30px 85px 30px;
        // }

        @media (max-width: 620px) {
            padding: 44px 20px 48px;
        }
    }

    &__img {
        width: 110px;
        margin: 0 auto;
        height: 71px;

        @media(max-width: 620px) {
            width: 74px;
            height: 51px;
            margin: 0 auto;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__title {
        margin-top: 24px;
        margin-bottom: 16px;

        & p {
            font-style: normal;
            font-weight: 600;
            font-size: 40px;

            line-height: 49px;
            color: #3B3B3B;

            @media (max-width: 500px) {
                font-size: 35px;
            }

            @media (max-width: 400px) {
                font-size: 30px;
                line-height: 1;
            }
        }
    }

    &__subtitle {
        & p {
            font-style: normal;
            font-weight: 600;
            font-size: 25px;

            line-height: 30px;
            color: #3B3B3B;

            @media (max-width: 620px) {
                font-size: 18px;
                line-height: 20px;
            }
        }
    }

    &__desc {
        max-width: 300px;
        width: 100%;
        margin: 47px auto 0;

        & p {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;

            line-height: 172.9%;
            text-align: center;
            color: #3B3B3B;

            @media (max-width: 620px) {
                font-size: 10px;

            }
        }

        @media (max-width: 620px) {
            margin-top: 35px;
        }
    }

    &__close {
        position: absolute;
        top: -5%;
        right: -5%;
        cursor: pointer;

        &--dark {
            position: absolute;
            top: 1%;
            right: 2%;
            zoom: 1.4;

            display: none;
            cursor: pointer;

            @media (max-width: 768px) {
                display: block;
            }

            @media (max-width: 500px) {
                top: 0;
            }
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    @media (max-width: 620px) {
        max-width: 290px;
        width: 100%;
        height: auto;
    }
}

.b-news__button--popup {
    text-align: center;
    margin-top: 56px;

    & a {
        display: block;
        padding: 15px 0px 15px !important;
        max-width: 215px;
        width: 100%;

        @media (max-width: 768px) {
            //  padding: 16px 67px 18px 67px !important;
            width: 100% !important;
        }

        @media (max-width: 620px) {
            max-width: 100%;
        }
    }

    @media (max-width: 620px) {
        max-width: 243px;
        margin-top: 37px;
    }
}