.selectedNews {
    .b-container {
        padding-bottom: 0;
    }
}

.b-selectedNews {
    //width: 80%;
    max-width: 974px;
    width: 100%;
    margin-top: 52px;


    & a {
        display: inline-block;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;

        background: #ffffff;

        //width: 100%;
        border: 1px solid $birus;
        color: $birus;

        &:hover {
            color: #FFFFFF;
            background: $birus;
            text-decoration: none;
        }

        @media (max-width: 600px) {
            font-size: 10px;
        }



        &:last-child {
            // max-width: 86px;
            // width: 100%;
        }
    }

    &__img {
        max-width: 974px;
        width: 100%;

        // @media (max-width: 1024px) {
        //     max-width: 100%;
        //     height: 305px;
        // }

        // @media (max-width: 768px) {
        //     height: 250px;
        // }

        // @media (max-width: 621px) {
        //     height: 197px;
        // }

        & img {
            border-radius: 8px;
            // object-fit : cover;
            height: auto;
            width: auto;
            max-width: 974p;

            // @media (max-width: 600px) {
            //     height: 200px;
            // }

            @media (max-width: 1024px) {
                //max-width: 100%;
                height: 305px;
            }

            @media (max-width: 768px) {
                height: 250px;
            }

            @media (max-width: 621px) {
                height: 197px;
            }
        }
    }

    &__by {
        margin-bottom: 50px;

        & p {
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;

            color: #A8B8BE;

            @media (max-width: 500px) {
                font-size: 12px;
                line-height: 155%;
            }
        }

        @media (max-width: 1024px) {
            margin-bottom: 35px;
        }

        @media (max-width: 800px) {
            margin-bottom: 26px;
        }
    }



    @media (max-width: 1024px) {
        width: 100%;
        max-width: 100%;
        margin-top: 25px;
    }

    @media (max-width: 768px) {
        margin-top: 15px;
    }

    @media (max-width: 620px) {
        margin-top: 11px;
    }
}

.b-selectedNews__tags {
    & a {
        padding: 5px 10px;
        min-width: 86px;
        border-radius: 4px;

        @media (max-width: 620px) {
            // margin-bottom: 20px;
            padding: 3px 7px;
            min-width: 62px;
        }

        &:not(:last-child) {
            margin-right: 15px;

            @media (max-width: 620px) {
                margin-right: 10px;
            }
        }

        text-align: center;
    }

    .b-selectedNews__link {
        &--active {
            color: #FFFFFF;
            background: $birus;
            text-decoration: none;
        }
    }

}

.b-selectedNews__title {
    margin-bottom: 25px;
    width: 100%;
    max-width: 950px;
    margin-top: 20px;

    & h2 {
        @media (max-width: 768px) {
            font-size: 30px;
        }

        @media (max-width: 600px) {
            font-size: 28px;
            line-height: 34px;
            width: 100%;
        }
    }

    & h1 {
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        font-size: 35px;
        line-height: 45px;

        color: #3B3B3B;
        text-align: left;

        @media (max-width: 620px) {
            font-size: 28px;
            line-height: 34.8px;
        }
    }

    @media (max-width: 620px) {
        width: 100%;
        margin-top: 15px;
    }
}

.b-selectedNews__text {
    margin: 30px 0 65px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    max-width: 890px;
    width: 100%;

    letter-spacing: -0.01em;
    color: #3B3B3B;

    @media(max-width: 1024px) {
        max-width: 100%;
    }

    @media(max-width: 620px) {
        font-size: 14px;
        line-height: 23px;
    }

    @media (max-width: 500px) {
        // font-size: 0.875rem;
        margin: 20px 0 0;
    }
}

.b-selectedNews__btn {
    text-align: left;
    //width: 30%;

    @media (max-width: 1110px) {
        //  width: 40%;
    }

    @media (max-width: 1024px) {
        //  width: 100%;
    }

    @media (max-width: 900px) {
        margin-top: 45px;
    }

    .btn {
        max-width: 284px;
        width: 100%;

        @media (max-width: 500px) {
            max-width: 100%;
        }
    }
}