.b-slider-footer {
   // margin-bottom: 10px;
}

.swiper-button-prev {
   margin-top: -11rem !important;
   padding   : 180px;
   z-index   : 11;

   color     : rgba(255, 255, 255, 0.45) !important;
   transition: all ease .4s;

   &::after {
      content   : url(../img/prev.png);
      opacity   : .4;
      transition: all ease .3s;
   }

   &:hover {
      &::after {
         opacity: 1;
      }
   }

   @media (max-width: 1500px) {
      margin-left: 0;
      margin-top : -11rem !important;
   }

   @media (max-width: 1024px) {
      display: none !important;
   }
}

.swiper-button-next {
   margin-top: -11rem !important;
   padding   : 180px;
   z-index   : 11;

   color     : rgba(255, 255, 255, 0.45) !important;
   transition: all ease .4s;

   &::after {
      content   : url(../img/next.png);
      opacity   : .4;
      transition: all ease .3s;
   }

   &:hover {
      &::after {
         opacity: 1;
      }
   }

   @media (max-width: 1500px) {
      margin-right: 0;
      margin-top  : -11rem !important;
   }

   @media (max-width: 1024px) {
      display: none !important;
   }
}

.swiper-container {
   position: relative;
   height  : 348px;

   @media(max-width: 1024px) {
      height: 270px;
   }

   @media(max-width: 620px) {
      height: 180px;
   }

   @media(max-width: 500px) {
      height: 173px;
   }

   &::before {
      content      : "";
      background   : linear-gradient(270deg, rgba(0, 0, 0, 0.5) 55.21%, rgba(196, 196, 196, 0) 100%);
      border-radius: 4px;
      z-index      : 100;

      position: absolute;
      top     : 0;
      left    : 0;
      z-index : 10;

      width    : 23%;
      height   : 100%;
      transform: rotate(180deg);

      @media (max-width: 1920px) {
         left : 0;
         width: 24.7%;
      }

      @media (max-width: 1700px) {
         left : 0;
         width: 22.5%;
      }

      @media (max-width: 1600px) {
         left : 0;
         width: 23%;
      }

      @media (max-width: 1500px) {
         left : 0;
         width: 24.8%;
      }

      @media (max-width: 1450px) {
         left : 0;
         width: 25.3%;
      }

      @media (max-width: 1400px) {
         left : 0;
         width: 26.5%;
      }

      @media (max-width: 1330px) {
         left : 0;
         width: 28%;
      }

      @media (max-width: 1300px) {
         left : 0;
         width: 28.5%;
      }

      @media (max-width: 1250px) {
         left : 0;
         width: 29.5%;
      }

      @media (max-width: 1200px) {
         left : 0;
         width: 31%;
      }

      @media (max-width: 1130px) {
         left : 0;
         width: 33%;
      }

      @media (max-width: 1100px) {
         left : 0;
         width: 29.4%;
      }

      @media (max-width: 1024px) {
         display: none;
      }
   }

   &::after {
      content      : "";
      background   : linear-gradient(90deg, rgba(0, 0, 0, 0.5) 55.21%, rgba(196, 196, 196, 0) 100%);
      border-radius: 4px;
      z-index      : 100;

      position: absolute;
      top     : 0;
      right   : 0;
      z-index : 10;

      width    : 23%;
      height   : 100%;
      transform: rotate(180deg);

      @media (max-width: 1920px) {
         right: 0;
         width: 25.3%;
      }

      @media (max-width: 1700px) {
         right: 0;
         width: 25.3%;
      }

      @media (max-width: 1600px) {
         right: 0;
         width: 25.5%;
      }

      @media (max-width: 1500px) {
         right: 0;
         width: 33.7%;
      }

      @media (max-width: 1450px) {
         right: 0;
         width: 34%;
      }

      @media (max-width: 1400px) {
         right: 0;
         width: 33.6%;
      }

      @media (max-width: 1330px) {
         right: 0;
         width: 34%;
      }

      @media (max-width: 1300px) {
         right: 0;
         width: 35;
      }

      @media (max-width: 1250px) {
         right: 0;
         width: 34%;
      }

      @media (max-width: 1200px) {
         right: 0;
         width: 33.5%;
      }

      @media (max-width: 1130px) {
         right: 0;
         width: 34%;
      }

      @media (max-width: 1100px) {
         right: 0;
         width: 34%;
      }

      @media (max-width: 1024px) {
         display: none;
      }
   }
}

.swiper-slide {
   // flex-shrink: 0 !important;

   @media (max-width: 767px) {
      //  flex-shrink: 1 !important;
   }

   @media (max-width: 620px) {
      //  flex-shrink: 0 !important;
   }

   & img {
      width               : 100%;
      height              : 100%;
      object-fit          : cover;
      // @media (max-width: 1910px) {
      //    width: 404px;
      //    height: 300px;
      // }

      // @media (max-width: 1700px) {
      //    width: 354px;
      //    height: 280px;
      // }

      @media (max-width: 1100px) {
         width     : 100%;
         height    : 100%;
         object-fit: cover;
      }

      @media (max-width: 970px) {
         // width : 354px;
         // height: 280px;
      }

      @media (max-width: 620px) {
         // width: 354px;
         // height: 283px;
      }

      @media (max-width: 400px) {
         // width: 100%;
         // height: 233px;
      }
   }
}