.b-survey {
    margin-top: 52px;

    @media (max-width: 1024px) {
        margin-top: 25px;
    }

    @media (max-width: 380px) {
        margin-top: 20px;
    }

    &__head {
        & h1 {
            font-style : normal;
            font-weight: 600;
            font-size  : 35px;
            line-height: 43px;

            color: #3B3B3B;

            @media (max-width: 380px) {
                font-size  : 28px;
                line-height: 34px;
            }
        }
    }

    & .b-container {
        padding-bottom: 0;
    }

    & .b-news-navbar {
        padding-top: 1.3rem !important;

        @media (max-width: 600px) {
            padding-top: 1rem !important;
        }

        // & .nav-item {
        //     &:not(:last-child) {
        //         margin-right: 15px !important;
        //     }
        // } 

        & #navbarSupportedContent .navbar-nav {
            @media (max-width: 600px) {
                justify-content: start !important;
            }
        }

        & .nav-link {
            padding-bottom: .1rem;
            letter-spacing: -1px;
        }
    }

    &-body {
        display        : flex;
        flex-wrap      : wrap;
        margin-left    : -45px;
        justify-content: space-between;

        margin-top: 38px;
        margin-bottom: 90px;

        @media (max-width: 992px) {
            margin-left: -20px;
            margin-bottom: 50px;
        }

        @media (max-width: 600px) {
            flex-direction: column;
            margin-left   : 0;
            margin-top: 24px;
            margin-bottom: 0;
        }

        &__item {
            background   : #FFFFFF;
            box-shadow   : 0px 2px 6px rgba(0, 0, 0, 0.15);
            border-radius: 8px;
            width        : calc(33.33% - 45px);

            margin-left: 45px;
            transition : all ease .3s;
            cursor: pointer;

            @media (max-width: 1200px) {
                height: 390px;
            }

            @media (max-width: 992px) {
                margin-left: 20px;
                width      : calc(50% - 20px);
                margin-bottom: 30px;
                height: 370px;
            }

            @media (max-width: 600px) {
                width        : 100%;
                margin-left  : 0;
                margin-bottom: 30px;
                height: 350px;
            }

            @media (max-width: 380px) {
                height: 281px;
            }

            &:last-child {
                @media (max-width: 600px) {
                    margin-bottom: 0;
                }
            }

            & img {
                max-width : 390px;
                width     : 100%;
                max-height: 242px;
                height    : 100%;

                border-radius: 8px 8px 0 0;
                margin-bottom: 23px;
                object-fit: cover;

                @media (max-width: 992px) {
                    max-width: none;
                    width: 100%;
                }

                @media (max-width: 380px) {
                    margin-bottom: 18px;
                    max-height: 180px;
                    height: 100%;
                }
            }

            &:hover {
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);

                .b-survey-body__inner a {
                    text-decoration: none;
                    color          : $birus;
                }
            }
        }

        &__inner {
            margin: 0 19px 26px 19px;

            @media (max-width: 992px) {
                margin: 0 19px 86px 19px;
            }

            @media (max-width: 380px) {
                margin: 0 18px 17px 12px;
            }

            & a {
                font-style : normal;
                font-weight: 600;
                font-size  : 18px;
                line-height: 22px;

                color     : #3B3B3B;
                transition: all ease;

                @media (max-width: 650px) {
                    font-size  : 16px;
                    line-height: 20px;
                }
            }

            & p {
                font-style : normal;
                font-weight: normal;
                font-size  : 14px;
                line-height: 160%;

                letter-spacing: -0.01em;
                color         : #3B3B3B;
                margin-top    : 7px;

                @media (max-width: 650px) {
                    font-size  : 12px;
                    line-height: 160%;
                    margin-top : 6px;
                }
            }
        }
    }
}