extends ../layout/main

block variables
	- var title = 'Административная структура'
	- var pageClass = 'index-page';

block content

	section.b-breadcrumb
		.b-container
			ul.breadcrumb
				li.breadcrumb-item 
					a(href="/index.html") Главная
				li.breadcrumb-item.breadcrumb-item--active 
					a(href="#" aria-current="page") Главная

	section.adminStructure
		.b-container
			.b-adminStructure.d-flex
				.b-adminStructure-content.row
					.col-xl-8.col-lg-8.col-md-12.b-adminStructure-content__left
						.b-adminStructure__desc
							.b-adminStructure-title__left.b-department-right__title
								h1 Кафедры
							.b-adminStructure__text.b-selectedNews__text
								p С другой стороны новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. С другой стороны начало повседневной работы по формированию позиции требуют определения и уточнения новых предложений. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение направлений прогрессивного развития. Повседневная практика показывает, что укрепление и развитие структуры представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия.
								p Не следует, однако забывать, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Товарищи! новая модель организационной деятельности играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что новая модель организационной деятельности играет важную роль в формировании систем массового участия. Равным образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание модели развития.
							
						.b-senate-content
							.b-adminStructure-title__left.b-department-right__title
								h1 Экспертный Совет
							.b-adminStructure__text.b-selectedNews__text
								ul
									li проводит экспертизу образовательных программ Лицея
									li вносит предложения по форми- рованию приоритетов образо- вательной деятельности Лицея 
									li разрабатывает рекомендации по а) анализу и оценке основных результатов образовательной деятельности б) развитию образовательных программ 
									li привлекает российских и зарубежных экспертов к реализации научной и проектной работы Лицея
								p МГУ, МПГУ, Л2Ш, ЦПМ, АГУ, КубГУ, Министерство образования и науки Краснодарского края, Математический институт им. В.А. Стеклова Р
							.b-adminStructure__title.b-news__title
								h2 Состав
							.b-adminStructure__text.b-adminStructure__text--list.b-selectedNews__text
								p Картава Т.В.,
								p Садовничий Ю.В.,
								p Реморенко И.М.,
								p Случ М.И.,
								p Ященко И.В.,
								p Мамий Д.К.,
								p Воробьева Е.В.


					.b-accordion.col-xl-4.col-lg-4.b-adminStructure-content__right
						.b-department-right__title.b-adminStructure-title__right.b-news__title
								h2.text-left Административная структура лицея

						#accordion(role="tablist" aria-multiselectable="true")
							.panel.panel-default
								.panel-heading.b-accordion-first(role="tab" id="heading7")
									a.collapsed.list-group-item(data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7") 
										div Департамент содержания образования
										i.fa.fa-caret-down(aria-hidden="true")
								.panel-collapse.collapse#collapse7(role="tabpanel" aria-labelledby="heading7")
									.panel-heading(role="tab" id="heading9")
										a.b-accordion-second(data-toggle="collapse" data-parent="#heading9" href="#collapse9" aria-expanded="false" aria-controls="collapse9").collapsed.list-group-item Учебно-методическая служба
											i.fa.fa-caret-down(aria-hidden="true")
									.panel-collapse.collapse.b-accordion-third#collapse9(role="tabpanel" aria-labelledby="heading9")
										a(href="#!").list-group-item.b-accordion-third--active Кафедры
										a(href="#!").list-group-item Лаборатории
										a(href="#!").list-group-item Координатор IB
										a(href="#!").list-group-item Методист образовательных программ
										a(href="#!").list-group-item Методист ООП лицензирования и аккредитации
										
									//- a(href="#!").list-group-item.b-accordion-second Служба контроля и мониторинга
									//- 	i.fa.fa-caret-down(aria-hidden="true")
									//- a(href="#!").list-group-item.b-accordion-second Служба тьюторского сопровождения
									//- 	i.fa.fa-caret-down(aria-hidden="true")
									//- a(href="#!").list-group-item.b-accordion-second Служба организации учебного процесса
									//- 	i.fa.fa-caret-down(aria-hidden="true")

							.panel.panel-default
								.panel-heading.b-accordion-first(role="tab" id="heading10")
									a.collapsed.list-group-item(data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10") 
										div Департамент научной, исследовательской и проектной деятельности
										i.fa.fa-caret-down(aria-hidden="true")
								.panel-collapse.collapse#collapse10(role="tabpane2" aria-labelledby="heading10")
									.panel-heading(role="tab" id="heading11")
										a.b-accordion-second(data-toggle="collapse" data-parent="#heading11" href="#collapse11" aria-expanded="false" aria-controls="collapse11").collapsed.list-group-item Учебно-методическая служба
											i.fa.fa-caret-down(aria-hidden="true")
									.panel-collapse.collapse.b-accordion-third#collapse11(role="tabpane2" aria-labelledby="heading11")
										a(href="#!").list-group-item Кафедры
										a(href="#!").list-group-item Лаборатории
										a(href="#!").list-group-item Координатор IB
										a(href="#!").list-group-item Методист образовательных программ
										a(href="#!").list-group-item Методист ООП лицензирования и аккредитации

									//- a(href="#!").list-group-item.b-accordion-second Служба контроля и мониторинга
									//- 	i.fa.fa-caret-down(aria-hidden="true")
									//- a(href="#!").list-group-item.b-accordion-second Служба тьюторского сопровождения
									//- 	i.fa.fa-caret-down(aria-hidden="true")
									//- a(href="#!").list-group-item.b-accordion-second Служба организации учебного процесса
									//- 	i.fa.fa-caret-down(aria-hidden="true")

							.panel.panel-default
								.panel-heading.b-accordion-first(role="tab" id="heading12")
									a.collapsed.list-group-item(data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12")
										div Департамент воспитания и социализации
										i.fa.fa-caret-down(aria-hidden="true")
								.panel-collapse.collapse#collapse12(role="tabpane2" aria-labelledby="heading12")
									.panel-heading(role="tab" id="heading13")
										a.b-accordion-second(data-toggle="collapse" data-parent="#heading13" href="#collapse13" aria-expanded="false" aria-controls="collapse13").collapsed.list-group-item Учебно-методическая служба
											i.fa.fa-caret-down(aria-hidden="true")
									.panel-collapse.collapse.b-accordion-third#collapse13(role="tabpane2" aria-labelledby="heading13")
										a(href="#!").list-group-item Кафедры
										a(href="#!").list-group-item Лаборатории
										a(href="#!").list-group-item Координатор IB
										a(href="#!").list-group-item Методист образовательных программ
										a(href="#!").list-group-item Методист ООП лицензирования и аккредитации

									//- a(href="#!").list-group-item.b-accordion-second Служба контроля и мониторинга
									//- 	i.fa.fa-caret-down(aria-hidden="true")
									//- a(href="#!").list-group-item.b-accordion-second Служба тьюторского сопровождения
									//- 	i.fa.fa-caret-down(aria-hidden="true")
									//- a(href="#!").list-group-item.b-accordion-second Служба организации учебного процесса
									//- 	i.fa.fa-caret-down(aria-hidden="true")

							.panel.panel-default
								.panel-heading.b-accordion-first(role="tab" id="heading14")
									a.collapsed.list-group-item(data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14") 
										div Департамент по управлению пансионом
										i.fa.fa-caret-down(aria-hidden="true")
								.panel-collapse.collapse#collapse14(role="tabpane2" aria-labelledby="heading14")
									.panel-heading(role="tab" id="heading15")
										a.b-accordion-second(data-toggle="collapse" data-parent="#heading15" href="#collapse15" aria-expanded="false" aria-controls="collapse15").collapsed.list-group-item Учебно-методическая служба
											i.fa.fa-caret-down(aria-hidden="true")
									.panel-collapse.collapse.b-accordion-third#collapse15(role="tabpane2" aria-labelledby="heading15")
										a(href="#!").list-group-item Кафедры
										a(href="#!").list-group-item Лаборатории
										a(href="#!").list-group-item Координатор IB
										a(href="#!").list-group-item Методист образовательных программ
										a(href="#!").list-group-item Методист ООП лицензирования и аккредитации

									//- a(href="#!").list-group-item.b-accordion-second Служба контроля и мониторинга
									//- 	i.fa.fa-caret-down(aria-hidden="true")
									//- a(href="#!").list-group-item.b-accordion-second Служба тьюторского сопровождения
									//- 	i.fa.fa-caret-down(aria-hidden="true")
									//- a(href="#!").list-group-item.b-accordion-second Служба организации учебного процесса
									//- 	i.fa.fa-caret-down(aria-hidden="true")

							.panel.panel-default
								.panel-heading.b-accordion-first(role="tab" id="heading16")
									a.collapsed.list-group-item(data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse16") 
										div Департамент управления делами и контроля
										i.fa.fa-caret-down(aria-hidden="true")
								.panel-collapse.collapse#collapse16(role="tabpane2" aria-labelledby="heading16")
									.panel-heading(role="tab" id="heading17")
										a.b-accordion-second(data-toggle="collapse" data-parent="#heading17" href="#collapse17" aria-expanded="false" aria-controls="collapse17").collapsed.list-group-item Учебно-методическая служба
											i.fa.fa-caret-down(aria-hidden="true")
									.panel-collapse.collapse.b-accordion-third#collapse17(role="tabpane2" aria-labelledby="heading17")
										a(href="#!").list-group-item Кафедры
										a(href="#!").list-group-item Лаборатории
										a(href="#!").list-group-item Координатор IB
										a(href="#!").list-group-item Методист образовательных программ
										a(href="#!").list-group-item Методист ООП лицензирования и аккредитации

									//- a(href="#!").list-group-item.b-accordion-second Служба контроля и мониторинга
									//- 	i.fa.fa-caret-down(aria-hidden="true")
									//- a(href="#!").list-group-item.b-accordion-second Служба тьюторского сопровождения
									//- 	i.fa.fa-caret-down(aria-hidden="true")
									//- a(href="#!").list-group-item.b-accordion-second Служба организации учебного процесса
									//- 	i.fa.fa-caret-down(aria-hidden="true")


						
							.b-senate
								.b-senate__item.text-left.b-department-right__faculty
									a(href="#") Экспертный совет
								.b-senate__item.text-left.b-department-right__faculty
									a(href="#") Совет организации
								.b-senate__item.text-left.b-department-right__faculty
									a(href="#") Попечительный совет


block script 