extends ../layout/main

block variables
	- var title = 'Справочник контактов'
	- var pageClass = 'index-page';

block content

	section.b-breadcrumb
		.b-container
			ul.breadcrumb
				li.breadcrumb-item 
					a(href="#") Главная
				li.breadcrumb-item.breadcrumb-item--active
					a(href="#" aria-current="page") Справочник контактов

	.b-manual.b-manual--contact.row.test-left
		.b-container
			.b-manual__wrapper
				.b-contact__title.b-manual__title.b-news__title
					h1 Старший преподаватель по образованию, директор факультета технологий и инноваций

				.b-manual-officer.d-flex
					.b-manual-officer__img
						img(src="img/officer/1.png", alt="").img-fluid
					.b-manual-officer-desc
						div
							p.text-left <strong>ФИО:</strong> Иванов Иван Иванович
						div
							p.text-left <strong>Учёная степень:</strong> учёная степень
						div
							p <strong>Почта:</strong> 
								a(href="mailto:qqq1q@mail.ru").text-left qqq1q@mail.ru
						div
							p <strong>Телефон:</strong> 
								a(href="tel:+78565465445").text-left 8 (856) 546-54-45
						div
							p.text-left <strong>Часы работы:</strong> пн-пт с 9.00 до 16.00
						div
							strong Соц.сети: 
							span.b-manual__social-list
								a(href="/")
									img(src="/img/socials/vk.png", alt="")
								a(href="/")
									img(src="/img/socials/facebook.ico", alt="")
								a(href="/")
									img(src="/img/socials/instagram.png", alt="")
								a(href="/")
									img(src="/img/socials/twitter.png", alt="")
								a(href="/")
									img(src="/img/socials/vk.png", alt="")
								

				.b-manual__title
					h2 Профиль

				.b-manual__text.b-selectedNews__text
					div
						p С другой стороны новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. С другой стороны начало повседневной работы по формированию позиции требуют определения и уточнения новых предложений. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение направлений прогрессивного развития. Повседневная практика показывает, что укрепление и развитие структуры представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия.
					div
						p Не следует, однако забывать, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Товарищи! новая модель организационной деятельности играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что новая модель организационной деятельности играет важную роль в формировании систем массового участия. Равным образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание модели развития.

				.b-manual-accordion
					.accordion-card
						.accordion-header
							h5 
								a(href="#!") Достижения
								img(src="img/accordion/down.png", alt="")
						.accordion-box
							.accordion-content
								p Не следует, однако забывать, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Товарищи! новая модель организационной деятельности играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что новая модель организационной деятельности играет важную роль в формировании систем массового участия. Равным образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание модели развития.
					.accordion-card
						.accordion-header
							h5 
								a(href="#!") Достижения
								img(src="img/accordion/down.png", alt="")
						.accordion-box
							.accordion-content
								p Не следует, однако забывать, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Товарищи! новая модель организационной деятельности играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что новая модель организационной деятельности играет важную роль в формировании систем массового участия. Равным образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание модели развития.	
					//- .accordion-card
					//- 	.accordion-header
					//- 		h5 
					//- 			a(href="#!") Достижения
					//- 			img(src="img/accordion/down.png", alt="")

					//- 	.accordion-content
					//- 		p Не следует, однако забывать, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Товарищи! новая модель организационной деятельности играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что новая модель организационной деятельности играет важную роль в формировании систем массового участия. Равным образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание модели развития.
					
					//- .accordion-card
					//- 	.accordion-header
					//- 		h5 
					//- 			a(href="#!") Достижения
					//- 			img(src="img/accordion/down.png", alt="")

					//- 	.accordion-content
					//- 		p Не следует, однако забывать, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Товарищи! новая модель организационной деятельности играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что новая модель организационной деятельности играет важную роль в формировании систем массового участия. Равным образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание модели развития.
					
					//- .accordion-card
					//- 	.accordion-header
					//- 		h5 
					//- 			a(href="#!") Достижения
					//- 			img(src="img/accordion/down.png", alt="")

					//- 	.accordion-content
					//- 		p Не следует, однако забывать, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Товарищи! новая модель организационной деятельности играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что новая модель организационной деятельности играет важную роль в формировании систем массового участия. Равным образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание модели развития.
					
					//- .accordion-card
					//- 	.accordion-header
					//- 		h5 
					//- 			a(href="#!") Достижения
					//- 			img(src="img/accordion/down.png", alt="")

						.accordion-content
							p Не следует, однако забывать, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Товарищи! новая модель организационной деятельности играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что новая модель организационной деятельности играет важную роль в формировании систем массового участия. Равным образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание модели развития.

block script