extends ../layout/main

block variables
	- var title = 'Кафедра'
	- var pageClass = 'index-page';

block content

	section.b-breadcrumb
		.b-container
			ul.breadcrumb
				li.breadcrumb-item 
					a(href="/index.html") Главная
				li.breadcrumb-item.breadcrumb-item--active 
					a(href="#" aria-current="page") Учебная структура

	section.department
		.b-container
			.b-department
				.row.d-flex
					.b-department-left.col-xl-8.col-lg-8
						.b-department-left__title.b-news__title
							h1 Кафедра физики
						.b-department-left-tabs.d-flex.b-selectedNews__btn
							button(type="button" data-target="target1").btn-active Информация о кафедре
							button(type="button" data-target="target2") Направления деятельности кафедры
						.b-department-left-manager.b-collapse.b-collapse--active.transition(data-target="target1")
							.b-manager
								.b-department-left-manager__img
									img(src="img/department/1.png", alt="").img-fluid
								.b-department-left-manager__desc
									.b-department-left-manager__name.b-text
										p <strong>Заведующий кафедрой:</strong> Аркулис Михаил Борисович, кандидат педагогических наук, доцент
									.b-department-left-manager__name.b-text
										p <strong>Адрес:</strong> главный учебный корпус (пр. Ленина, 38), ауд. 194
									.b-department-left-manager__name.b-text
										p <strong>Телефон:</strong> 
											a(href="tel:+73519298470") +7 (3519) 29-84-70

							.b-content
								p Кафедра физики в настоящий момент насчитывает 23 преподавателей из них 15 кандидатов наук, а также 7 человек учебно-вспомогательного персонала. Кафедра находится в «южном» корпусе основного здания МГТУ и имеет 7 учебных и 2 поточные аудитории. Для проведения лабораторных работ по курсу физики на кафедре организованы 3 лаборатории:

								ul
									li ауд. 175 – лаборатория механики и молекулярной физики;
									li ауд. 177 – лаборатория атома и ядра;
									li ауд. 179 – лаборатория электричества и оптики.
							
								p В настоящее время обновлен весь лабораторный практикум по курсу «Общей физики». Также закуплено оборудование по 5 видам неразрушающего контроля. Что позволит в будущем создать учебно-аттестационный центр.
								p На кафедре организованы и ведут активную научную деятельность 4 лаборатории:
							
								ul
									li ауд. 178 – лаборатория физики твердого тела;
									li ауд. 180 – лаборатория термо-эдс;
									li ауд. 190, 187а – НИЦ «Микротопография» МГТУ;
									li ауд. 198 – лаборатория магнитных исследований.
							
								p Кафедра имеет договоры о научном сотрудничестве:
							
								ul
									li «ОАО ММК» Магнитогорский металлургический комбинат, г.Магнитогорск;
									li ОАО «АВТОВАЗ», г.Тольятти.
									li ФГУП «ЦНИИЧЕРМЕТ» им.И.П.Бардина, Москва;
									li ЗАО научно-производственная фирма «УРАН», г. Санкт-Петербург;
									li ФГУП «ВНИИМС» Всероссийский научно-исследовательский институт метрологической службы
									li компания QUAKER CHEMICAL B.V., г. Уйтхоорн, Нидерланды
									li ЗАО «ЛМЗ», г. Лысьва.

						.b-department-desc.b-department-left__text.b-collapse(data-target="target2")
							p <strong>Образовательная деятельность кафедры</strong> направлена на реализацию программ высшего профессионального образования по направлениям подготовки и специальностей и на подготовку высококвалифицированных конкурентоспособных специалистов, отвечающую требованиям Государственных образовательных стандартов.
							p В соответствии с государственным стандартом и учебными планами ведётся преподавание следующих дисциплин: общая и экспериментальная физика; электротехника; радиотехника; ОАВТ; технология материалов; практикум по техническому конструированию; вычислительная техника и электроника; электроника и цифровая техника; спецкурсы и спецпрактикумы: «Физика ЦМД», «Физика металлов», «Физика магнитных материалов и элементов ЗУ», «Современные физические методы исследования материалов», «Электронные явления в физике», «Магнитные измерения» (спец. физ. практикум), «Физические явления в тонких магнитных плёнках», «Магнитооптические эффекты и их применение», «Физическая электроника».
							p <strong>Научная деятельность кафедры</strong> включает в себя организацию и проведение научных исследований в соответствии с профилем кафедры в рамках международных, российских, региональных или университетских научно-исследовательских программ или проектов, а также на хоздоговорной основе.
							p В области научно-исследовательской работы кафедра поддерживает широкие связи с физическим факультетом Московского государственного университета, Московским педагогическим государственным университетом, Московским институтом стали и сплавов, Физико-техническим институтом им. А.Ф. Иоффе РАН, лабораторией оптических явлений в сегнетоэлектрических и магнитных кристаллах (г. Санкт-Петербург), Уральским государственным университетом (г. Екатеринбург), ИРЕТМЕТ (г. Екатеринбург), Институтом физики металлов УрО РАН (г. Екатеринбург), Иркутским государственным педагогическим университетом, Воронежским государственным техническим университетом, исследовательской лабораторией фирмы «Hitachi» (Япония), Институтом физики г. Осло (Норвегия).
							p Укрепились научные связи с ФИАН, МЭИ, ИМЕТ УрО РАН, секцией «Магнитные пленки» РАН. Развиваются связи с СПбГУ, ИРЭ РАН, ДГТУ. Практикуется обмен информацией, использование экспериментальной базы указанных институтов, совместные исследования и публикации.
							p В соответствие с соглашением о сотрудничестве, подписанным в 2005 г., кафедра поддерживает научные связи с факультетом физики Университета г. Зиген (Германия), подписано соглашение о сотрудничестве между этим факультетом и ФФиЭ АГУ.
							p <strong>Инновационная деятельность кафедры</strong> включает в себя выполнение работ или оказание услуг по созданию, освоению или практическому применению новых или усовершенствованных образовательных технологий, научных и технических достижений.
						

					.b-department-right.col-xl-4.col-lg-4
						.b-department-right__title.b-news__title
								h2 Учебная структура

						.b-department-accordion#accordion(role="tablist")
							.card
								.card-header.b-text#hedingOne(role="tab")
									h5.mb-0.text-left.d-flex.justify-content-between
										a(href="#collapseOne" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne") 
											div Кафедры
										<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M4.5 5L0.602886 0.5L8.39711 0.499999L4.5 5Z" fill="#3B3B3B"/>
										</svg>

								.collapse#collapseOne(role="tabpanel" aria-labelledby="headingOne")
									.card-body Кафедра математики
								.collapse#collapseOne(role="tabpanel" aria-labelledby="headingOne")
									.card-body Кафедра физики
								.collapse#collapseOne(role="tabpanel" aria-labelledby="headingOne")
									.card-body Кафедра химии
								.collapse#collapseOne(role="tabpanel" aria-labelledby="headingOne")
									.card-body Кафедра биологии
								.collapse#collapseOne(role="tabpanel" aria-labelledby="headingOne")
									.card-body Кафедра гуманитарного образования и искусства
								.collapse#collapseOne(role="tabpanel" aria-labelledby="headingOne")
									.card-body Кафедра иностранных языков
								.collapse#collapseOne(role="tabpanel" aria-labelledby="headingOne")
									.card-body Кафедра родного языка и литературы
								.collapse#collapseOne(role="tabpanel" aria-labelledby="headingOne")
									.card-body Кафедра IT и дизайна

							.card
								.card-header.b-text#hedingTwo(role="tab")
									h5.mb-0.text-left.d-flex.justify-content-between
										a(href="#collapseTwo" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo") 
											div Практикум
										<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M4.5 5L0.602886 0.5L8.39711 0.499999L4.5 5Z" fill="#3B3B3B"/>
										</svg>

								.collapse#collapseTwo(role="tabpanel" aria-labelledby="headingTwo")
									.card-body Кафедра математики
								.collapse#collapseTwo(role="tabpanel" aria-labelledby="headingTwo")
									.card-body Кафедра физики
								.collapse#collapseTwo(role="tabpanel" aria-labelledby="headingTwo")
									.card-body Кафедра химии
								.collapse#collapseTwo(role="tabpanel" aria-labelledby="headingTwo")
									.card-body Кафедра биологии
								.collapse#collapseTwo(role="tabpanel" aria-labelledby="headingTwo")
									.card-body Кафедра гуманитарного образования и искусства
								.collapse#collapseTwo(role="tabpanel" aria-labelledby="headingTwo")
									.card-body Кафедра иностранных языков
								.collapse#collapseTwo(role="tabpanel" aria-labelledby="headingTwo")
									.card-body Кафедра родного языка и литературы
								.collapse#collapseTwo(role="tabpanel" aria-labelledby="headingTwo")
									.card-body Кафедра IT и дизайна

							.card
								.card-header.b-text#hedingThree(role="tab")
									h5.mb-0.text-left.d-flex.justify-content-between
										a(href="#collapseThree" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree") 
											div Дополнительное образование
										<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M4.5 5L0.602886 0.5L8.39711 0.499999L4.5 5Z" fill="#3B3B3B"/>
										</svg>

								.collapse#collapseThree(role="tabpanel" aria-labelledby="headingThree")
									.card-body Кафедра математики
								.collapse#collapseThree(role="tabpanel" aria-labelledby="headingThree")
									.card-body Кафедра физики
								.collapse#collapseThree(role="tabpanel" aria-labelledby="headingThree")
									.card-body Кафедра химии
								.collapse#collapseThree(role="tabpanel" aria-labelledby="headingThree")
									.card-body Кафедра биологии
								.collapse#collapseThree(role="tabpanel" aria-labelledby="headingThree")
									.card-body Кафедра гуманитарного образования и искусства
								.collapse#collapseThree(role="tabpanel" aria-labelledby="headingThree")
									.card-body Кафедра иностранных языков
								.collapse#collapseThree(role="tabpanel" aria-labelledby="headingThree")
									.card-body Кафедра родного языка и литературы
								.collapse#collapseThree(role="tabpanel" aria-labelledby="headingThree")
									.card-body Кафедра IT и дизайна

							.card
								.card-header.b-text#hedingFour(role="tab")
									h5.mb-0.text-left.d-flex.justify-content-between
										a(href="#collapseFour" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour") 
											div Проектная работа
										<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M4.5 5L0.602886 0.5L8.39711 0.499999L4.5 5Z" fill="#3B3B3B"/>
										</svg>

								.collapse#collapseFour(role="tabpanel" aria-labelledby="headingFour")
									.card-body Кафедра математики
								.collapse#collapseFour(role="tabpanel" aria-labelledby="headingFour")
									.card-body Кафедра физики
								.collapse#collapseFour(role="tabpanel" aria-labelledby="headingFour")
									.card-body Кафедра химии
								.collapse#collapseFour(role="tabpanel" aria-labelledby="headingFour")
									.card-body Кафедра биологии
								.collapse#collapseFour(role="tabpanel" aria-labelledby="headingFour")
									.card-body Кафедра гуманитарного образования и искусства
								.collapse#collapseFour(role="tabpanel" aria-labelledby="headingFour")
									.card-body Кафедра иностранных языков
								.collapse#collapseFour(role="tabpanel" aria-labelledby="headingFour")
									.card-body Кафедра родного языка и литературы
								.collapse#collapseFour(role="tabpanel" aria-labelledby="headingFour")
									.card-body Кафедра IT и дизайна

							.card
								.card-header.b-text#hedingFive(role="tab")
									h5.mb-0.text-left.d-flex.justify-content-between
										a(href="#collapseFive" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFive") 
											div Олимпиадное движение
										<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M4.5 5L0.602886 0.5L8.39711 0.499999L4.5 5Z" fill="#3B3B3B"/>
										</svg>

								.collapse#collapseFive(role="tabpanel" aria-labelledby="headingFive")
									.card-body Кафедра математики
								.collapse#collapseFive(role="tabpanel" aria-labelledby="headingFive")
									.card-body Кафедра физики
								.collapse#collapseFive(role="tabpanel" aria-labelledby="headingFive")
									.card-body Кафедра химии
								.collapse#collapseFive(role="tabpanel" aria-labelledby="headingFive")
									.card-body Кафедра биологии
								.collapse#collapseFive(role="tabpanel" aria-labelledby="headingFive")
									.card-body Кафедра гуманитарного образования и искусства
								.collapse#collapseFive(role="tabpanel" aria-labelledby="headingFive")
									.card-body Кафедра иностранных языков
								.collapse#collapseFive(role="tabpanel" aria-labelledby="headingFive")
									.card-body Кафедра родного языка и литературы
								.collapse#collapseFive(role="tabpanel" aria-labelledby="headingFive")
									.card-body Кафедра IT и дизайна



block script 