extends ../layout/main

block variables
	- var title = 'Справочник контактов'
	- var pageClass = 'index-page';

block content
	section.error
		.b-container
			.row
				.col-xl-7
					.error__title
						h2 404
					.error__text
						p Такой страницы не существует :c


block script