extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content

	include ../modules/header-slider
	include ../modules/events
	include ../modules/news
	include ../modules/slider-footer
	
block script