extends ../layout/main

block variables
	- var title = 'Вход'
	- var pageClass = 'index-page';

block content

	section.login
		.b-container
			.b-login.row.justify-content-center
				.col-xl-4.col-lg-5.col-sm-8
						.b-login__title
							h1 Вход

						form.b-login-form.b-reception-form
						.b-login__wrapper
							.form-group.text-left
								label(for="formGroupExampleInput") Логин
								input.form-control.text-left#formGroupExampleInput(type="text" placeholder="Логин")
							.form-group.text-left
								label(for="formGroupExampleInput2") Пароль
								input.form-control.text-left#formGroupExampleInput2(type="password" placeholder="Пароль")

			.row.justify-content-center
				.col-xl-4.col-lg-5.col-sm-8
					.b-reception__button.b-news__button
						button(type="button").btn.btn-primary.btn-lg Войти

					.b-login__forgotten
						a(href="#") Забыли пароль?

			.row.justify-content-center
				.b-login__tel
					p Телефон администратора:&nbsp;
					a(href="tel:89569758986") 8 (956) 975-89-86


block script