extends ../layout/main

block variables
	- var title = 'Справочник контактов'
	- var pageClass = 'index-page';

block content

	section.b-breadcrumb
		.b-container.b-container--table
			ul.breadcrumb
				li.breadcrumb-item 
					a(href="/index.html") Главная
				li.breadcrumb-item.breadcrumb-item--active
					a(href="#" aria-current="page") Справочник контактов
	.table-contacts
		.table__container.b-container
			.b-manual.d-flex.justify-content-between.row
				.b-manual__article.col-xl-5.col-lg-12
					.b-manual__title.b-news__title
						h1 Справочник контактов
				.b-manual__form.col-xl-3
					form.b-manual__search.my-2.my-lg-0.d-flex
						input(type="text" placeholder="Поиск")
						button 

			.b-manual-table
				.row
					.col-xl-12
						table.table.table-bordered
							thead
								tr
									th ФИО

									th.th-active
										.dropdown-table 
											button.btn-table Подразделение
											+svg('arrow-down')
											.dropdown-table__menu
												a(href="#!" title="Подразделение 1").dropdown-table__item Подразделение-Подразделение
												a(href="#!" title="Подразделение 1").dropdown-table__item Подразделение 2
												a(href="#!" title="Подразделение 1").dropdown-table__item Подразделение 3
												a(href="#!" title="Подразделение 1").dropdown-table__item Подразделение 4
												a(href="#!" title="Подразделение 1").dropdown-table__item Подразделение 5

									th.th-active
										.dropdown-table  
											button.btn-table Должность
											+svg('arrow-down')
											.dropdown-table__menu
												a(href="#!" title="Должность 1").dropdown-table__item Должность 1
												a(href="#!" title="Должность 1").dropdown-table__item Должность 2
												a(href="#!" title="Должность 1").dropdown-table__item Должность 3
												a(href="#!" title="Должность 1").dropdown-table__item Должность 4
												a(href="#!" title="Должность 1").dropdown-table__item Должность 5
												a(href="#!" title="Должность 1").dropdown-table__item Должность 1
												a(href="#!" title="Должность 1").dropdown-table__item Должность 2
												a(href="#!" title="Должность 1").dropdown-table__item Должность 3
												a(href="#!" title="Должность 1").dropdown-table__item Должность 4
												a(href="#!" title="Должность 1").dropdown-table__item Должность 5
									th Телефон
									th Почта

							tbody
								tr
									td.avatar 
										img(src="../img/circle.png", alt="")
										a(href="/contact.html") Миронов Станислав Александрович
									td(title="Подразделение") Подразделение-Подразделение
									td(title="Должность") Должность-Должность
										
									td 
										a(href="") 8 (856) 546-54-45
									td 
										a(href="") qqq1q@mail.ru
								tr
									td.avatar 
										img(src="../img/circle.png", alt="")
										a(href="/contact.html") Иванов Иван Иванович
									td Подразделение
									td Должность
									td 
										a(href="") 8 (856) 546-54-45
									td 
										a(href="") qqq1q@mail.ru
								tr
									td.avatar 
										img(src="../img/circle.png", alt="")
										a(href="/contact.html") Иванов Иван Иванович
									td Подразделение
									td Должность
									td 
										a(href="") 8 (856) 546-54-45
									td 
										a(href="") qqq1q@mail.ru
								tr
									td.avatar 
										img(src="../img/circle.png", alt="")
										a(href="/contact.html") Иванов Иван Иванович
									td Подразделение
									td Должность
									td 
										a(href="") 8 (856) 546-54-45
									td 
										a(href="") qqq1q@mail.ru
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 
								tr
									td 
									td 
									td 
									td 
									td 



block script 