extends ../layout/main

block variables
	- var title = 'Новости'
	- var pageClass = 'index-page';

block content

	section.b-breadcrumb
		.b-container
			ul.breadcrumb
				li.breadcrumb-item 
					a(href="/index.html") Главная
				li.breadcrumb-item.breadcrumb-item--active
					a(href="#" aria-current="page") Новости
	
	section.news.news--page
		.b-container
			.b-news
				.b-news__title
					h1 Новости и объявления

				.b-news-navbar.navbar.navbar-expand-lg
					.collapse.navbar-collapse#navbarSupportedContent
						ul.navbar-nav.mr-auto
							li.nav-item.active
								a(href="javascript:void(0);").nav-link.nav-links.nav-links--active Общество
							li.nav-item
								a(href="javascript:void(0);").nav-link.nav-links Культура
							li.nav-item
								a(href="javascript:void(0);").nav-link.nav-links Спорт
							li.nav-item
								a(href="javascript:void(0);").nav-link.nav-links.nav-links--active Наука
							li.nav-item.nav-item--none 
								a(href="javascript:void(0);").nav-link.nav-links Культура
							li.nav-item.nav-item--none 
								a(href="javascript:void(0);").nav-link.nav-links Спорт
							li.nav-item.nav-item--none 
								a(href="javascript:void(0);").nav-link.nav-links Наука

						//- .navbar-nav.mr-auto
						//- 	.nav-item.active
						//- 		a(href="#").nav-link.nav-links.nav-links--active Общество
						//- 	.nav-item
						//- 		a(href="#").nav-link.nav-links Культура
						//- 	.nav-item
						//- 		a(href="#").nav-link.nav-links Спорт
						//- 	.nav-item
						//- 		a(href="#").nav-link.nav-links.nav-links--active Наука
						//- 	.nav-item.nav-item--none 
						//- 		a(href="#").nav-link.nav-links Культура
						//- 	.nav-item.nav-item--none 
						//- 		a(href="#").nav-link.nav-links Спорт
						//- 	.nav-item.nav-item--none 
						//- 		a(href="#").nav-link.nav-links Наука

						.b-news-dropdown
							button.b-btn-sort Сортировать по разделу
							i.fa.fa-caret-down
							div.b-news-dropdown__menu
								a(href="#!") Сортировать по разделу
								a(href="#!") Сортировать по дате
								a(href="#!") Сортировать по дате


				.b-news-content.flex-wrap.d-flex.justify-content-between
					.b-news-content-item.card.col-xl-3.col-md-3
						.b-news-content-item__inner
							a(href="/selectedNews.html")
								img(src="../img/news-cards/1.png", alt="").card-img-top
							.b-news-content-item__tag
								span Общество
								span Наука

						.card-body
							.card-subtext
								span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
							a(href="/selectedNews.html")
								.card-title Заголовок последней новости
								.card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.
								
					.b-news-content-item.card.col-xl-3.col-md-3
						.b-news-content-item__inner
							a(href="/selectedNews.html")
								img(src="img/news-cards/1.png", alt="").card-img-top
							.b-news-content-item__tag
								span Общество
								span Наука

						.card-body
							.card-subtext
								span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
							a(href="/selectedNews.html")
								.card-title Заголовок последней новости
								.card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.

					.b-news-content-item.card.col-xl-3.col-md-3
						.b-news-content-item__inner
							a(href="/selectedNews.html")
								img(src="img/news-cards/1.png", alt="").card-img-top
							.b-news-content-item__tag
								span Общество
								span Наука

						.card-body
							.card-subtext
								span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
							a(href="/selectedNews.html")
								.card-title Заголовок последней новости
								.card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.

					.b-news-content-item.card.col-xl-3.col-md-3
						.b-news-content-item__inner
							a(href="/selectedNews.html")
								img(src="img/news-cards/1.png", alt="").card-img-top
							.b-news-content-item__tag
								span Общество
								span Наука

						.card-body
							.card-subtext
								span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
							a(href="/selectedNews.html")
								.card-title Заголовок последней новости
								.card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.

					.b-news-content-item.card.col-xl-3.col-md-3
						.b-news-content-item__inner
							a(href="/selectedNews.html")
								img(src="img/news-cards/1.png", alt="").card-img-top
							.b-news-content-item__tag
								span Общество
								span Наука

						.card-body
							.card-subtext
								span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
							a(href="/selectedNews.html")
								.card-title Заголовок последней новости
								.card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.

					.b-news-content-item.card.col-xl-3.col-md-3
						.b-news-content-item__inner
							a(href="/selectedNews.html")
								img(src="img/news-cards/1.png", alt="").card-img-top
							.b-news-content-item__tag
								span Общество
								span Наука

						.card-body
							.card-subtext
								span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
							a(href="/selectedNews.html")
								.card-title Заголовок последней новости
								.card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.

					.b-news-content-item.card.col-xl-3.col-md-3
						.b-news-content-item__inner
							a(href="/selectedNews.html")
								img(src="img/news-cards/1.png", alt="").card-img-top
							.b-news-content-item__tag
								span Общество
								span Наука

						.card-body
							.card-subtext
								span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
							a(href="/selectedNews.html")
								.card-title Заголовок последней новости
								.card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.

					.b-news-content-item.card.col-xl-3.col-md-3
						.b-news-content-item__inner
							a(href="/selectedNews.html")
								img(src="img/news-cards/1.png", alt="").card-img-top
							.b-news-content-item__tag
								span Общество
								span Наука

						.card-body
							.card-subtext
								span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
							a(href="/selectedNews.html")
								.card-title Заголовок последней новости
								.card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.

					.b-news-content-item.card.col-xl-3.col-md-3
						.b-news-content-item__inner
							a(href="/selectedNews.html")
								img(src="img/news-cards/1.png", alt="").card-img-top
							.b-news-content-item__tag
								span Общество
								span Наука

						.card-body
							.card-subtext
								span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
							a(href="/selectedNews.html")
								.card-title Заголовок последней новости
								.card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.

					.b-news-content-item.card.col-xl-3.col-md-3
						.b-news-content-item__inner
							a(href="/selectedNews.html")
								img(src="img/news-cards/1.png", alt="").card-img-top
							.b-news-content-item__tag
								span Общество
								span Наука

						.card-body
							.card-subtext
								span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
							a(href="/selectedNews.html")
								.card-title Заголовок последней новости
								.card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.

					.b-news-content-item.card.col-xl-3.col-md-3
						.b-news-content-item__inner
							a(href="/selectedNews.html")
								img(src="img/news-cards/1.png", alt="").card-img-top
							.b-news-content-item__tag
								span Общество
								span Наука

						.card-body
							.card-subtext
								span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
							a(href="/selectedNews.html")
								.card-title Заголовок последней новости
								.card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.

					.b-news-content-item.card.col-xl-3.col-md-3
						.b-news-content-item__inner
							a(href="/selectedNews.html")
								img(src="img/news-cards/1.png", alt="").card-img-top
							.b-news-content-item__tag
								span Общество
								span Наука

						.card-body
							.card-subtext
								span <a (href="#!")> от Ивана Вановича Иванова <p>Посмотреть все новости от Ивана Вановича Иванова</p></a> &nbsp;&mdash;&nbsp;Пт, 3 Июль 2020, 10:37 
							a(href="/selectedNews.html")
								.card-title Заголовок последней новости
								.card-text Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.

					

				.b-news__button.b-news__button--width
					a(type="button").btn.btn-primary.btn-lg Больше новостей


block script