extends ../layout/main

block variables
	- var title = 'Справочник контактов'
	- var pageClass = 'index-page';

block content

	section.b-breadcrumb
		.b-container.b-container--reption
			ul.breadcrumb
				li.breadcrumb-item 
					a(href="/index.html") Главная
				li.breadcrumb-item.breadcrumb-item--active 
					a(href="#" aria-current="page") Электронная приемная

			.b-reception.row
				.b-reception__wrapper.col-xl-6
					.b-reception__title.b-news__title
						h1 Электронная приемная

					form.b-reception-form
						.form-group.text-left
							label(for="formGroupExampleInput1") Выбор подразделения
							.b-reception-form__dropdown
								input.form-control.text-left#formGroupExampleInput1(type="select" name="test" autocomplete="off"  placeholder="Выберите подразделение" value="")
								i.fa.fa-caret-down
								.b-reception-form__list
									a(href="#!") Подразделения 1
									a(href="#!") Подразделения 2
									a(href="#!") Подразделения 3
									a(href="#!") Подразделения 4
						.form-group.text-left
							label(for="formGroupExampleInput2") E-mail
							input.form-control.text-left#formGroupExampleInput2(type="email" placeholder="Электронный адрес")
						.form-group.text-left
							label(for="formGroupExampleInput3") Телефон
							input.form-control.text-left#formGroupExampleInput3(type="tel" placeholder="Номер телефона")
						.form-group.text-left
							label(for="formGroupExampleInput4") Сообщение
							textarea.form-control.text-left#formGroupExampleInput4(type="text" placeholder="Введите информацию, которой хотите поделиться")
						.form-group.text-left
							.form-group__file.d-flex
								+svg('clip')
								label(for="formGroupExampleInput5") Прикрепить файл
									input#formGroupExampleInput5.text-left(type="file" name="file")
						

			.row
				.col-xl-3
					.b-reception__button.b-news__button
						a(href="#!" type="button").btn.btn-primary.btn-lg Отправить


	.popup
		.b-popup
			.b-popup-inner
				.b-popup__img
					img(src="../img/checkmark.png", alt="")
				.b-popup__title
					p Спасибо! 
				.b-popup__subtitle
					p Ваша заявка отправлена!
				.b-popup__desc
					p Вы можете отслеживать статус своего обращения по электронной почте
				.b-news__button.b-news__button--popup
					a(href="#") Закрыть
				.b-popup__close
					img(src="../img/X.png", alt="")
				.b-popup__close--dark
					img(src="../img/dark-x.png", alt="")




block script