extends ../layout/main

block variables
	- var title = 'Выбранная новость'
	- var pageClass = 'index-page';

block content

	section.b-breadcrumb
		.b-container
			ul.breadcrumb
				li.breadcrumb-item 
					a(href="/index.html") Главная
				li.breadcrumb-item.breadcrumb-item--active 
					a(href="#!" aria-current="page") Новости


	section.selectedNews
		.b-container
			.b-selectedNews
				.b-selectedNews__tags.text-left
					a(href="#!").b-selectedNews__link.b-selectedNews__link--active Общество
					a(href="#!").b-selectedNews__link Наука 
				.b-selectedNews__title.b-news__title
					h1.text-left Кафедра Педагогического образования и документоведения приглашает студентов принять участие в Олимпиаде по психологии
				.b-selectedNews__by
					p.text-left от Ивана Вановича Иванова&nbsp; &ndash; &nbsp;Пятница, 3 Июль 2020, 10:37
				.b-selectedNews__img.text-left
					img(src="img/selectedNews/4.png", alt="").img-fluid
				.b-selectedNews__text
					p.text-left Участие в Олимпиаде по педагогике станет весомым вкладом в портфолио лучших студентов! Работы принимаются до 15 июня 2020 года. Подведение итогов – до 5 июля 2020 г. Порядок подачи работ на олимпиаду: для участия в олимпиаде необходимо прислать ответы на электронный адрес ikashuba@mail.ru 	
				.b-selectedNews__btn.b-news__button
					button(type="button").btn.btn-lg Посмотреть все новости

	  
block script 