extends ../layout/main

block variables
	- var title = 'Опросник'
	- var pageClass = 'index-page';

block content

	section.b-breadcrumb
			.b-container
				ul.breadcrumb
					li.breadcrumb-item 
						a(href="/index.html") Главная
					li.breadcrumb-item.breadcrumb-item--active 
						a(href="#!" aria-current="page") Опросы

	section.b-survey
		.b-container
			.b-survey__head
				h1 Опросы

			.b-news-navbar.navbar.navbar-expand-lg
				.collapse.navbar-collapse#navbarSupportedContent
					ul.navbar-nav.mr-auto
						li.nav-item.active
							a(href="javascript:void(0);").nav-link.nav-links.nav-links--active Общество
						li.nav-item
							a(href="javascript:void(0);").nav-link.nav-links Культура
						li.nav-item
							a(href="javascript:void(0);").nav-link.nav-links Спорт

			.b-survey-body
				.b-survey-body__item(data-popup="#popupI")
					img(src="../img/survey/1.png", alt="")
					.b-survey-body__inner
						a(href="#!") Поведение пользователей
						p Узнайте, какими продуктами люди пользуются, как часто, и что для них...
			
				.b-survey-body__item(data-popup="#popupII")
					img(src="../img/survey/2.png", alt="")
					.b-survey-body__inner
						a(href="#!") Поведение пользователей
						p Узнайте, какими продуктами люди пользуются, как часто, и что для них...
			
				.b-survey-body__item(data-popup="#popupIII")
					img(src="../img/survey/3.png", alt="")
					.b-survey-body__inner
						a(href="#!") Поведение пользователей
						p Узнайте, какими продуктами люди пользуются, как часто, и что для них...

	.surveyPopup(id="popupI")
		.b-surveyPopup
			.b-surveyPopup__title
				h2 Поведение пользователей
			.b-surveyPopup__desc
				p Узнайте, какими продуктами люди пользуются, как часто, и что для них важно
			.b-surveyPopup__subtitle
				h4 Варианты ответа
			form
				.b-surveyPopup__form
					input(type="text" placeholder="Первый вариант ответа")
					input(type="text" placeholder="Второй вариант ответа")
					input(type="text" placeholder="Третий вариант ответа")
					input(type="text" placeholder="Четрвертый вариант ответа")
					input(type="text" placeholder="Четрвертый вариант ответа")
					input(type="text" placeholder="Четрвертый вариант ответа")
					input(type="text" placeholder="Четрвертый вариант ответа")
					input(type="text" placeholder="Четрвертый вариант ответа")

				button Отправить

			.b-popup__close
				img(src="../img/X.png", alt="")
			.b-popup__close--dark
				img(src="../img/dark-x.png", alt="")

	.surveyPopup(id="popupII")
		.b-surveyPopup
			.b-surveyPopup__title
				h2 Поведение пользователей
			.b-surveyPopup__desc
				p Узнайте, какими продуктами люди пользуются, как часто, и что для них важно
			.b-surveyPopup__subtitle
				h4 Варианты ответа
			form
				.b-surveyPopup__form.b-surveyPopup__form--popupII
					.b-surveyPopup__form-item
						.b-surveyPopup__disclaimer
							p Выберите один или несколько ответов
						
						.b-surveyPopup-form__elem
							input(type="checkbox" id="mark1" name="mark")
							label(for="mark1") Наиболее важным при выборе для Вас является пункт 1
						.b-surveyPopup-form__elem
							input(type="checkbox" id="mark2" name="mark")
							label(for="mark2") Наиболее важным при выборе для Вас является пункт 2
						.b-surveyPopup-form__elem
							input(type="checkbox" id="mark3" name="mark")
							label(for="mark3") Наиболее важным при выборе для Вас является пункт 3

					.b-surveyPopup__form-item
						.b-surveyPopup__disclaimer
							p Выберите один ответ
						
						.b-surveyPopup-form__elem
							input(type="radio" id="radio1" name="radio")
							label(for="radio1") Наиболее важным при выборе для Вас является пункт 1
						.b-surveyPopup-form__elem
							input(type="radio" id="radio2" name="radio")
							label(for="radio2") Наиболее важным при выборе для Вас является пункт 2
						.b-surveyPopup-form__elem
							input(type="radio" id="radio3" name="radio")
							label(for="radio3") Наиболее важным при выборе для Вас является пункт 3

					.b-surveyPopup__form-item
						.b-surveyPopup__disclaimer
							p Выберите один ответ
						
						.b-surveyPopup-form__elem
							input(type="radio" id="radio1" name="radio")
							label(for="radio1") Наиболее важным при выборе для Вас является пункт 1
						.b-surveyPopup-form__elem
							input(type="radio" id="radio2" name="radio")
							label(for="radio2") Наиболее важным при выборе для Вас является пункт 2
						.b-surveyPopup-form__elem
							input(type="radio" id="radio3" name="radio")
							label(for="radio3") Наиболее важным при выборе для Вас является пункт 3
						
					
				button Отправить

			.b-popup__close
				img(src="../img/X.png", alt="")
			.b-popup__close--dark
				img(src="../img/dark-x.png", alt="")

	.surveyPopup(id="popupIII")
		.b-surveyPopup
			.b-surveyPopup__title
				h2 Поведение пользователей
			.b-surveyPopup__desc
				p Узнайте, какими продуктами люди пользуются, как часто, и что для них важно
			.b-surveyPopup__subtitle
				h4 Варианты ответа
			form
				.b-surveyPopup__form.b-surveyPopup__form--popupIII
					.form
						input(type="text" placeholder="Первый вариант ответа" disabled name='list_1')
						input(type="hidden" value='' name='itemList_1')
						img(src="../img/arrow-down.png", alt="")
					.form-droplist
						a(href="#!") Наиболее важным при выборе для Вас является пункт 1
						a(href="#!") Наиболее важным при выборе для Вас является пункт 2
						a(href="#!") Наиболее важным при выборе для Вас является пункт 3

					.form
						input(type="text" placeholder="Второй вариант ответа" disabled name='list_2')
						input(type="hidden" value='' name='itemList_2')
						img(src="../img/arrow-down.png", alt="")
					.form-droplist
						a(href="#!") Наиболее важным при выборе для Вас является пункт 1
						a(href="#!") Наиболее важным при выборе для Вас является пункт 2
						a(href="#!") Наиболее важным при выборе для Вас является пункт 3

					.form
						input(type="text" placeholder="Третий вариант ответа" disabled name='list_3')
						input(type="hidden" value='' name='itemList_3')
						img(src="../img/arrow-down.png", alt="")
					.form-droplist
						a(href="#!") Наиболее важным при выборе для Вас является пункт 1
						a(href="#!") Наиболее важным при выборе для Вас является пункт 2
						a(href="#!") Наиболее важным при выборе для Вас является пункт 3

					.form
						input(type="text" placeholder="Четрвертый вариант ответа" disabled name='list_4')
						input(type="hidden" value='' name='itemList_4')
						img(src="../img/arrow-down.png", alt="")
					.form-droplist
						a(href="#!") Наиболее важным при выборе для Вас является пункт 1
						a(href="#!") Наиболее важным при выборе для Вас является пункт 2
						a(href="#!") Наиболее важным при выборе для Вас является пункт 3

					.form
						input(type="text" placeholder="Четрвертый вариант ответа" disabled name='list_5')
						input(type="hidden" value='' name='itemList_5')
						img(src="../img/arrow-down.png", alt="")
					.form-droplist
						a(href="#!") Наиболее важным при выборе для Вас является пункт 1
						a(href="#!") Наиболее важным при выборе для Вас является пункт 2
						a(href="#!") Наиболее важным при выборе для Вас является пункт 3

					.form
						input(type="text" placeholder="Четрвертый вариант ответа" disabled name='list_5')
						input(type="hidden" value='' name='itemList_5')
						img(src="../img/arrow-down.png", alt="")
					.form-droplist
						a(href="#!") Наиболее важным при выборе для Вас является пункт 1
						a(href="#!") Наиболее важным при выборе для Вас является пункт 2
						a(href="#!") Наиболее важным при выборе для Вас является пункт 3

				button Отправить

			.b-popup__close
				img(src="../img/X.png", alt="")
			.b-popup__close--dark
				img(src="../img/dark-x.png", alt="")

	.surveyResult
		.b-surveyResult.b-surveyResult--pie
			.b-surveyResult__title
				h2 Результаты опроса
			.b-surveyResult__desc
				p Узнайте, какими продуктами люди пользуются, как часто, и что для них важно

			.b-surveyResult-chart
				.desc-slider
					.swiper-wrapper
						.swiper-slide
							.chart-title
								h3 Опрос под номером 1
							canvas(data-labels=['Описание 1', 'Описание 2', 'Описание 3', 'Описание 4'] data-number=[65, 18, 12, 5]
								data-color=['#556170', '#A8B8BE', '#008C7D', '#1295c5']
							).circle--chart

						.swiper-slide
							.chart-title
								h3 Опрос под номером 2
							canvas(data-labels=['Описание 5', 'Описание 6', 'Описание 7', 'Описание 8'] data-number=[35, 78, 22, 15]
								data-color=['#556170', '#A8B8BE', '#008C7D', '#1295c5']
							).circle--chart
						
						.swiper-slide
							.chart-title
								h3 Опрос под номером 3
							canvas(data-labels=['Описание 5', 'Описание 6', 'Описание 7', 'Описание 8'] data-number=[35, 78, 22, 15]
								data-color=['#556170', '#A8B8BE', '#008C7D', '#1295c5']
							).circle--chart
					.arr-prevs
						+svg("arrow-point")
					.arr-nexts
						+svg("arrow-point")
			.b-popup__close
				img(src="../img/X.png", alt="")
			.b-popup__close--dark
				img(src="../img/dark-x.png", alt="")

			.b-surveyResult__btn
				button Закрыть

	.surveyResult.showPopup
		.b-surveyResult.b-surveyResultII
			.b-surveyResult__title
				h2 Результаты опроса
			.b-surveyResult__desc
				p Узнайте, какими продуктами люди пользуются, как часто, и что для них важно
		
			.b-surveyResult-chart.b-surveyResult-chart--chart
				.swiper-wrapper
					.container-chart.container-chart--bar.swiper-slide
						.chart-title
							h3 Опрос под номером 1
						canvas( data-labels=['Пункт 1', 'Пункт 2', 'Пункт 3', 'Пункт 4'] data-color=['#A8B8BE', '#008C7D', '#556170', '#1A97C5'] 
							data-number=[55, 30, 12, 88]
						).bar--chart
						
					.container-chart.container-chart--bar.swiper-slide
						.chart-title
							h3 Опрос под номером 2
						canvas( data-labels=['Пункт 5', 'Пункт 6', 'Пункт 7', 'Пункт 8'] data-color=['#A8B8BE', '#008C7D', '#556170', '#1A97C5'] 
							data-number=[35, 50, 42, 88]
						).bar--chart

					.container-chart.container-chart--bar.swiper-slide
						.chart-title
							h3 Опрос под номером 3
						canvas( data-labels=['Пункт 5', 'Пункт 6', 'Пункт 7', 'Пункт 8'] data-color=['#A8B8BE', '#008C7D', '#556170', '#1A97C5'] 
							data-number=[35, 50, 42, 88]
						).bar--chart

					.container-chart.container-chart--bar.swiper-slide
						.chart-title
							h3 Опрос под номером 4
						canvas(width="472" height="320" data-labels=['Пункт 5', 'Пункт 6', 'Пункт 7', 'Пункт 8'] data-color=['#A8B8BE', '#008C7D', '#556170', '#1A97C5'] 
							data-number=[35, 50, 42, 88]
						).bar--chart

				.swiper-pagination

				.arr-prev
					+svg("arrow-point")
				.arr-next
					+svg("arrow-point")

				

			.b-popup__close
				img(src="../img/X.png", alt="")
			.b-popup__close--dark
				img(src="../img/dark-x.png", alt="")

			.b-surveyResult__btn.b-surveyResult__btn--bar
				button Закрыть


block script 