.surveyResult {
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, .5);

  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;

  top: 0;
  z-index: 100;

  &.showPopup {
    opacity: 1;
    visibility: visible;
  }
}

.b-surveyResult {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 1140px;
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 5px;

  padding: 56px 68px 66px 67px;
  z-index: 1001;

  @media (max-width: 1235px) {
    max-width: 925px;
  }

  @media (max-width: 1024px) {
    max-width: 700px;
    padding: 56px 40px 66px 40px;
  }

  @media (max-width: 768px) {
    max-width: 595px;
  }

  @media (max-width: 620px) {
    max-width: 485px;
    top: 0%;
    transform: translate(-50%, 0%);
    padding: 56px 35px 45px;
  }

  &__title {
    margin-bottom: 12px;

    & h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 43px;

      text-align: center;
      color: #3b3b3b;

      @media (max-width: 620px) {
        font-size: 28px;
        line-height: 34px;
      }
    }
  }

  &__desc {
    margin: 0 auto 37px;

    @media(max-width: 1024px) {
      max-width: 410px;
      width: 100%;
    }

    @media (max-width: 620px) {
      margin: 0 auto 5px;
    }

    & p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 175%;

      text-align: center;
      letter-spacing: -0.01em;
      color: #3b3b3b;

      @media (max-width: 620px) {
        font-size: 14px;
        line-height: 165%;
      }
    }
  }

  &-chart {

    max-width: 1005px;
    width: 100%;
    overflow: hidden;
    height: 324px;

    @media (max-width: 1024px) {
      height: 250px;
      // margin-top: 30px;
    }

    @media (max-width: 992px) {
      // height: 260px;
      margin-top: 30px;
    }

    @media (max-width: 620px) {
      height: 260px;
      margin-top: 30px;
    }

    & .chart-title {
      margin-bottom: 20px;

      & h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 175%;

        text-align: center;
        letter-spacing: -0.01em;
        color: #3B3B3B;
      }
    }

    &--chart {
      //position: relative;

      .arr-next,
      .arr-prev {
        position: absolute;
        padding: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        margin-top: auto !important;
        height: 25px;
        width: 25px;
        cursor: pointer;
        transition: .3s;

        @media(max-width: 620px) {
          top: 55px;
        }

        .b-svg {
          width: 100%;
          height: 100%;
          transition: .3s;
        }

        &:hover {
          .b-svg {
            fill: $birus;
          }
        }
      }

      .arr-next {
        right: 25px;

        @media(max-width: 1024px) {
          right: 5px;
        }

        &.swiper-button-disabled {
          opacity: 0;
        }
      }

      .arr-prev {
        left: 30px;
        transform: scale(-1, 1);

        @media(max-width: 1024px) {
          left: 5px;
        }

        &.swiper-button-disabled {
          opacity: 0;
        }
      }
    }

    .swiper-slide {
      // padding-bottom: 40px;
    }
  }

  & .container-chart {
    // width: 264px;
    // height: 360px;
    // margin: 0 auto;

    &--bar {
      // width: 472px;
      // height: 320px;
      // margin: 0 60px 0 0;

      // & canvas {
      //   width: 472px !important;
      //   height: 320px !important;

      //   @media (max-width: 900px) {
      //     width: 402px !important;
      //     height: 300px !important;
      //   }

      //   @media (max-width: 620px) {
      //     width: 302px !important;
      //     height: 200px !important;
      //   }

      //   @media (max-width: 380px) {
      //     width: 302px !important;
      //     height: 200px !important;
      //   }
      // }

      // @media (max-width: 900px) {
      //   width: 402px;
      //   height: 300px;
      // }

      // @media (max-width: 620px) {
      //   width: 302px;
      //   height: 200px;
      // }

      // @media (max-width: 380px) {
      //   width: 302px;
      //   height: 200px;
      //   margin: 0 30px 0 0;
      // }
    }
  }

  &__btn {
    text-align: center;
    margin-top: 100px;

    &--bar {
      margin-top: 50px;

      @media(max-width: 1024px) {
        margin-top: 35px;
      }
    }

    & button {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;

      text-align: center;
      color: #ffffff;
      padding: 12px 24px 13px 25px;
      background: $birus;

      border-radius: 4px;
      width: 212px;
      border: 1px solid $birus;
      transition: all ease 0.3s;

      @media (max-width: 620px) {
        font-size: 16px;
        line-height: 20px;
      }

      @media (max-width: 450px) {
        width: 100%
      }

      &:hover {
        background: #ffffff;
        color: $birus;
        border: 1px solid $birus;
      }
    }
  }

  & .b-popup__close {
    top: -30px;
    right: -28px;

    &--dark {
      position: absolute;
      top: 1%;
      right: 1%;
      zoom: 1.4;

      display: none;
      cursor: pointer;

      @media (max-width: 768px) {
        display: block;
        top: 11px;
        right: 16px;
      }
    }
  }

  &--pie {

    @media(max-width: 620px) {
      padding: 56px 15px 45px;
    }

    .desc-slider {
      position: relative;
    }

    .b-surveyResult-chart {
      height: auto;

      @media(max-width: 1024px) {
        //  height: 320px;
      }
    }

    .b-surveyResult__btn {
      margin-top: 50px;

      @media(max-width: 1024px) {
        margin-top: 35px;
      }
    }

    canvas {
      @media(max-width: 1235px) {
        height: 240px !important;
        width: auto !important;
        margin: 0 auto !important;
      }

      @media(max-width: 620px) {
        height: auto !important;
        width: 100% !important;
      }
    }

    .arr-prevs,
    .arr-nexts {
      position: absolute;
      padding: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      margin-top: auto !important;
      height: 25px;
      width: 25px;
      cursor: pointer;
      transition: .3s;
      z-index: 10;

      @media(max-width: 1024px) {
        //  top: 30px;
      }

      @media(max-width: 620px) {
        // top: 10px;
      }

      .b-svg {
        width: 100%;
        height: 100%;
        transition: .3s;
      }

      &:hover {
        .b-svg {
          fill: $birus;
        }
      }
    }

    .arr-nexts {
      right: 0px;

      @media(max-width: 1024px) {
        right: 0px;
      }

      &.swiper-button-disabled {
        opacity: 0;
      }
    }

    .arr-prevs {
      left: 0px;
      transform: scale(-1, 1);

      @media(max-width: 1024px) {
        left: 0px;
      }

      &.swiper-button-disabled {
        opacity: 0;
      }
    }

    .swiper-slide {
      padding-bottom: 0;
    }
  }
}

// .swiper-container--chart {
//   height: 370px;

//   & .swiper-slide {
//     flex-shrink: unset !important;
//   }

//   &::after {
//     content: none;
//   }

//   &::before {
//     content: none;
//   }

//   & .swiper-button-prev {
//     padding: 20px;

//     &::after {
//       content: url('../img/chart-prev.png');
//       opacity: 1;
//       top: 100px;
//     }
//   }

//   & .swiper-button-next {
//     padding: 20px;

//     &::after {
//       content: url('../img/chart-next.png');
//       opacity: 1;
//     }
//   }

//   & .swiper-button-next,
//   & .swiper-button-prev {
//     top: 73%;
//   }
// }

.b-surveyResult .container-chart--bar canvas {
  width: 100% !important;
  height: 100% !important;
  max-height: 283px;

  @media(max-width: 1024px) {
    max-height: 212px;
  }

  @media(max-width: 768px) {
    max-height: 207px;
  }
}