.surveyPopup {
    background-color: rgba(0, 0, 0, .5);
    width           : 100%;
    height          : 100vh;
    position        : fixed;

    left      : 0;
    top       : 0;
    z-index   : 100;
    transition: .3s;

    opacity   : 0;
    visibility: hidden;

    &.showPopup {
        opacity   : 1;
        visibility: visible;
    }
}

.b-surveyPopup {
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);

    max-width : 769px;
    width     : 100%;
    height    : 100%;
    background: #FFFFFF;

    border-radius: 5px;
    padding      : 58px 88px 80px 88px;
    z-index      : 1001;
    margin       : auto;

    max-height: 769px;
    

    @media (max-width: 900px) {
        max-width: 650px;
        width    : 100%;
        padding  : 65px 50px 64px 50px;
    }

    @media (max-width: 620px) {
        padding      : 55px 16px 64px 16px;
        border-radius: 0;
        top          : 0;
        left         : 0;

        transform: translate(0, 0);
        max-width: none;
        width    : 100%;
        overflow-x: hidden;
    }

    &__title {
        margin-bottom: 12px;

        & h2 {
            font-style : normal;
            font-weight: 600;
            font-size  : 35px;
            line-height: 43px;

            color: #3B3B3B;

            @media (max-width: 620px) {
                font-size  : 28px;
                line-height: 34px;
            }
        }
    }

    &__desc {
        margin-bottom: 30px;

        & p {
            font-style : normal;
            font-weight: normal;
            font-size  : 16px;
            line-height: 175%;

            letter-spacing: -0.01em;
            color         : #3B3B3B;

            @media (max-width: 620px) {
                font-size  : 14px;
                line-height: 165%;
            }
        }

        @media (max-width: 620px) {
            margin-bottom: 28px;
        }
    }

    &__subtitle {
        & h4 {
            font-style : normal;
            font-weight: 600;
            font-size  : 20px;
            line-height: 131.4%;

            color: #3B3B3B;

            @media (max-width: 620px) {
                font-size  : 22px;
                line-height: 27px;
            }
        }
    }

    &__disclaimer {
        & p {
            font-style : normal;
            font-weight: 500;
            font-size  : 14px;
            line-height: 17px;

            color        : #3B3B3B;
            margin-bottom: 15px;

            @media (max-width: 620px) {
                font-size    : 14px;
                line-height  : 36px;
                margin-bottom: 7px;
            }
        }
    }

    &__form {
        max-height: 365px;
        height    : 100%;
        overflow  : auto;

        & input {
            &:not(:first-child) {
                margin-top: 22px;
            }
        }

        &-item {
            &:not(:last-child) {
                margin-bottom: 25px;
            }

            @media (max-width: 380px) {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }

        &--popupII {
            max-height: 365px;
            height    : 100%;
            overflow-y: auto;

            @media (max-width: 380px) {
                max-height: 305px;
            }
        }

        &--popupIII {
            max-height: 360px;
            height    : 100%;
            margin-top: 22px;

            @media (max-width: 380px) {
                margin-top: 22px;
            }

            & .form {
                position: relative;

                &:not(:first-child) {
                    margin-top: 22px;
                }

                & img {
                    position: absolute;
                    top     : 18px;
                    right   : 16px;
                    width   : 10px;

                    height    : 8px;
                    cursor    : pointer;
                    transition: all ease .3s;
                }

                &--active {
                    & .form-droplist {
                        max-height: 200px;
                    }

                    &:last-child {
                        & .form-droplist {
                            margin-top: 22px;
                        }
                    }

                    & img {
                        transform: rotate(180deg);
                    }
                }
            }

            & .form-droplist {
                position: relative;
                width   : 100%;
                z-index : 1003;
                top     : 0;

                left         : 0;
                background   : #FFFFFF;
                box-shadow   : 0px 2px 6px rgba(0, 0, 0, 0.15);
                border-radius: 4px;

                border    : 1px solid #D3D3D3;
                box-sizing: border-box;
                padding   : 22px 0 15px 14px;
                transition: max-height ease-in-out .1s;

                max-height: 100%;

                & p,
                & a {
                    margin-bottom: 17px;
                    font-style   : normal;
                    font-weight  : normal;
                    font-size    : 12px;

                    line-height: 120%;
                    color      : #333333;
                    transition : all ease .3s;
                    cursor     : pointer;

                    display: block;

                    &:hover {
                        color          : $birus;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    & form {
        margin-top: 23px;

        & input {
            max-width: 580px;
            width    : 100%;
        }

        & input[type="text"] {
            background : #FFFFFF;
            font-style : normal;
            font-weight: 500;
            font-size  : 14px;

            line-height  : 17px;
            color        : #3B3B3B;
            border       : 1px solid #D3D3D3;
            border-radius: 4px;

            height       : 42px;
            cursor       : pointer;
            transition   : all ease .3s;
            text-overflow: ellipsis;

            padding-left: 14px;

            @media (max-width: 620px) {
                font-size  : 12px;
                line-height: 15px;
            }

            &::placeholder {
                padding-right: 30px;
            }

            &:hover {
                border: 1px solid $birus;

                &::-webkit-input-placeholder {
                    color: $birus;
                }
            }
        }

        input::-webkit-input-placeholder {
            color: #3B3B3B;
        }

        .input-active {
            border: 1px solid $birus !important;

            &::-webkit-input-placeholder {
                color: $birus;
            }
        }

        & input[type="checkbox"] {
            width   : 18px;
            height  : 18px;
            border  : 1px solid #D3D3D3;
            position: absolute;

            z-index    : -1;
            opacity    : 0;
            margin-left: 3px;
            max-height : 0;
        }

        & input[type="checkbox"]+label {
            display      : inline-flex;
            align-items  : center;
            user-select  : none;
            margin-bottom: 10px;

            margin-left: 3px;

            @media (max-width: 620px) {
                margin-left: 0;
            }

            &:last-child {
                @media (max-width: 620px) {
                    margin-bottom: 11px;
                }
            }

            &::before {
                content: '';
                display: inline-block;
                width  : 18px;
                height : 18px;

                flex-shrink : 0;
                flex-grow   : 0;
                border      : 1px solid #adb5bd;
                margin-right: 0.5em;

                background-repeat  : no-repeat;
                background-position: center center;
                background-size    : 50% 50%;

                @media (max-width: 410px) {
                    top     : -9px;
                    position: relative;
                }
            }
        }

        & input[type="checkbox"]:checked+label {
            &::before {
                border-color    : $birus;
                background-color: $birus;
                background-image: url('../img/check.png');
            }
        }

        & input[type="checkbox"]:not(:disabled):not(:checked)+label:hover::before {
            border-color: $birus;
        }

        & input[type="radio"] {
            width        : 18px;
            height       : 18px;
            border       : 1px solid #D3D3D3;
            border-radius: 50%;

            position   : absolute;
            z-index    : -1;
            opacity    : 0;
            margin-left: 3px;

            max-height: 0;
        }

        & input[type="radio"]+label {
            display      : inline-flex;
            align-items  : center;
            user-select  : none;
            margin-bottom: 10px;

            margin-left: 3px;

            @media (max-width: 620px) {
                margin-left: 0;
            }

            &::before {
                content: '';
                display: inline-block;
                width  : 18px;
                height : 18px;

                flex-shrink : 0;
                flex-grow   : 0;
                border      : 1px solid #adb5bd;
                margin-right: 0.5em;

                background-repeat  : no-repeat;
                background-position: center center;
                background-size    : 50% 50%;
                border-radius      : 50%;

                @media (max-width: 410px) {
                    top     : -9px;
                    position: relative;
                }
            }
        }

        & input[type="radio"]:not(:disabled):not(:checked)+label:hover::before {
            border-color: $birus;
        }

        & input[type="radio"]:checked+label {
            &::before {
                border-color    : $birus;
                background-image: url('../img/circle-mark.png');
            }
        }

        & label {
            font-style : normal;
            font-weight: normal;
            font-size  : 12px;
            line-height: 120%;

            color: #333333;

            @media (max-width: 620px) {
                line-height: 150%;
            }
        }
    }

    & button {
        background   : $birus;
        border-radius: 4px;
        padding      : 13px 25px 11px;
        font-style   : normal;

        font-weight: 600;
        font-size  : 14px;
        line-height: 17px;
        text-align : center;

        color     : #FFFFFF;
        border    : 1px solid $birus;
        transition: all ease .3s;
        margin-top: 37px;

        max-width: 212px;
        width    : 100%;

        @media (max-width: 620px) {
            font-size  : 16px;
            line-height: 20px;
            margin-top : 25px;
            max-width  : none;

            width  : 100%;
            padding: 13px 25px 15px;
        }

        @media (max-width: 380px) {
            margin-top: 25px;
        }

        &:hover {
            background: #ffffff;
            color     : $birus;
            border    : 1px solid $birus;
        }
    }

    .b-popup__close {
        position: absolute;
        top     : -30px;
        right   : -28px;
        cursor  : pointer;

        &--dark {
            position: absolute;
            top     : 1%;
            right   : 1%;
            zoom    : 1.4;

            display: none;
            cursor : pointer;

            @media (max-width: 768px) {
                display: block;
                top    : 11px;
                right  : 16px;
            }
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
}